RewriteEngine On

# about
RewriteRule ^about/corepeople.html.en$ /about/people/ [R=302,L]
RewriteRule ^about/board.html.en$ /about/people/ [R=302,L]
RewriteRule ^about/contributors.html.en$ /about/people/ [R=302,L]
RewriteRule ^about/torusers(.*) https://2019.www.torproject.org/about/torusers$1 [R=302,L]
RewriteRule ^about/jobs(.*).html.en$ /about/jobs [R=302,L]
RewriteRule ^about/financials(.*) /about/reports$1 [R=302,L]
RewriteRule ^about(.*).html.en$ /about$1 [R=302,L]

# moved to /docs/
RewriteRule ^docs/(.*) https://2019.www.torproject.org/docs/$1 [R=302,L]
RewriteRule ^documentation.html$ https://2019.www.torproject.org/docs/documentation.html [R=302,L]

# Torbutton
RewriteRule ^torbutton/design(.*) https://2019.www.torproject.org/docs/torbutton/en/design$1 [R=302,L]
RewriteRule ^torbutton/(.*) https://2019.www.torproject.org/docs/torbutton/$1 [R=302,L]

# Tor Browser
RewriteRule ^torbrowser/dist/(.*) https://2019.www.torproject.org//dist/torbrowser/$1 [R=302,L]
RewriteRule ^torbrowser(.*) https://2019.www.torproject.org/projects/torbrowser.html.en [R=302,L]
RewriteRule ^torbrowser$ https://2019.www.torproject.org/projects/torbrowser.html.en [R=302,L]


# tordnsel
RewriteRule ^tordnsel/dist/(.*) https://2019.www.torproject.org/dist/tordnsel/$1 [R=302,L]

# Overview
RewriteRule ^overview(.*) /about/history [R=302,L]

# Projects
RewriteRule ^projects/torbrowser/design(.*) https://2019.www.torproject.org/projects/torbrowser/design/ [R=302,L]
RewriteRule ^projects/torbrowser/RecommendedTBBVersions - [L]
RewriteRule ^projects/torbrowser(.*) /download$1 [R=302,L]
RewriteRule ^projects/gettor(.*) https://gettor.torproject.org/ [R=302,L]
RewriteRule ^projects/nyx(.*) https://nyx.torproject.org/ [R=302,L]
RewriteRule ^projects(.*) https://2019.www.torproject.org/projects$1 [R=302,L]


#Pluggable Transports
RewriteRule ^PT/?$ https://2019.www.torproject.org/docs/pluggable-transports [R=302,L]
RewriteRule ^projects/obfsproxy-debian-instructions(.*) https://2019.www.torproject.org/docs/pluggable-transports [R=410,L]
RewriteRule ^projects/obfsproxy-instructions(.*) https://2019.www.torproject.org/docs/pluggable-transports [R=410,L]
RewriteRule ^projects/obfsproxy(.*) https://2019.www.torproject.org/docs/pluggable-transports [R=302,L]

#Relays
RewriteRule ^relay-guide(.*) https://trac.torproject.org/projects/tor/wiki/TorRelayGuide [R=302,L]

# GetInvolved
RewriteRule ^getinvolved/$ https://2019.www.torproject.org/getinvolved/volunteer [R=302,L]
RewriteRule ^getinvolved/translation.html.en$ https://tb-manual.torproject.org/becoming-tor-translator/ [R=302,L]
RewriteRule ^getinvolved(.*) https://2019.www.torproject.org/getinvolved$1 [R=302,L]
RewriteRule ^volunteer(.*) https://2019.www.torproject.org/getinvolved/volunteer$1 [R=302,L]
RewriteRule ^tshirt(.*) https://2019.www.torproject.org/getinvolved/tshirt$1 [R=302,L]

RewriteRule ^research(.*) https://research.torproject.org/ [R=302,L]
RewriteRule ^getinvolved/research(.*) https://research.torproject.org/ [R=302,L]

# Support
RewriteRule ^support(.*) https://support.torproject.org [R=302,L]

# Newsletter
RewriteRule ^newsletter(.*) https://newsletter.torproject.org [R=302,L]

# Press
RewriteRule ^press/press(.*) /press [R=302,L]

# other (feel free to categorize)
RewriteRule ^people(.*) /about/people$1 [R=302,L]
RewriteRule ^donate$ https://donate.torproject.org [R=302,L]
RewriteRule ^about/contact(.*) /contact$1 [R=302,L]
RewriteRule ^contact.html$  /contact/ [R=302,L]

# Download websites
RewriteRule ^download/download/$ /download [R=302,L]
RewriteRule ^download/download$ /download [R=302,L]
RewriteRule ^download/download.html(.*) /download [R=302,L]
RewriteRule ^download.html(.*) /download [R=302,L]
RewriteRule ^download/easy-download(.*) /download [R=302,L]
RewriteRule ^download/download-easy(.*) /download [R=302,L]

# Relays
RewriteRule ^relays(.*) https://2019.www.torproject.org/getinvolved/relays [R=302,L]

# Index Pages
RewriteRule ^about/overview(.*) /about/history$1 [R=302,L]
RewriteRule ^about/$ /about/history [R=302,L]

# Eff
RewriteRule ^eff/(.*) https://2019.www.torproject.org/eff/$1 [R=302,L]

# Videos
RewriteRule ^videos/(.*) https://2019.www.torproject.org/videos/$1 [R=302,L]

# Donation campaign
# 2017
# Special-case the donate-options and amazon page so it doesn't get redirected
RewriteRule ^donate/donate-options(.*) https://2019.www.torproject.org/donate/donate-options$1 [END]
RewriteRule ^donate/donate-amazon(.*) https://2019.www.torproject.org/donate/donate-amazon$1 [END]
RewriteRule ^donate/donate(.*) https://donate.torproject.org [R=302,L]
RewriteRule ^donate/donor-faq(.*) https://donate.torproject.org/donor-faq [R=302,L]
RewriteRule ^donate/donor-privacy-policy(.*) https://donate.torproject.org/privacy-policy [R=302,L]
RewriteRule ^donate/thankyou(.*) https://donate.torproject.org/thank-you [R=302,L]
RewriteRule ^thankyou(.*) https://donate.torproject.org/thank-you [R=302,L]

# The following redirect is necessary because we're using that URL on
# some external resources (the donate infrastructure in particular) and
# getting it changed there is apparently hard or something.
RewriteRule ^donate-email(.*) https://donate.torproject.org/ [R=302,L]
