RewriteEngine On

# moved to /docs/
RewriteRule ^docs/faq(.*) https://2019.www.torproject.org/docs/faq$1 [R=302,L]
RewriteRule ^docs/bridges(.*) https://2019.www.torproject.org/docs/bridges$1 [R=302,L]
RewriteRule ^docs/abuse(.*) https://2019.www.torproject.org/docs/abuse$1 [R=302,L]
RewriteRule ^docs/documentation(.*) https://2019.www.torproject.org/docs/documentation$1 [R=302,L]
RewriteRule ^docs/verifying-signatures(.*) https://2019.www.torproject.org/docs/verifying-signatures$1 [R=302,L]
RewriteRule ^docs/tor-manual(.*) https://2019.www.torproject.org/docs/tor-manual$1 [R=302,L]

# Torbutton
RewriteRule ^torbutton/design(.*) https://2019.www.torproject.org/docs/torbutton/en/design$1 [R=302,L]
RewriteRule ^torbutton/(.*) https://2019.www.torproject.org/docs/torbutton/$1 [R=302,L]

# Tor Browser
RewriteRule ^torbrowser/dist/(.*) /dist/torbrowser/$1 [R=301,L]
#RewriteRule ^torbrowser/$ /projects/torbrowser.html.en [R=301,L]
RewriteRule ^torbrowser(.*) /projects/torbrowser.html.en [R=301,L]

# tordnsel
RewriteRule ^tordnsel/dist/(.*) https://2019.www.torproject.org/dist/tordnsel/$1 [R=301,L]

# Overview
RewriteRule ^overview(.*) /about/history$1 [R=301,L]

# Projects
RewriteRule ^projects/$ https://2019.www.torproject.org/projects/projects [R=302,L]

#Pluggable Transports
RewriteRule ^PT/?$ https://2019.www.torproject.org/docs/pluggable-transports [R=302,L]
RewriteRule ^projects/obfsproxy-debian-instructions(.*) https://2019.www.torproject.org/docs/pluggable-transports [R=410,L]
RewriteRule ^projects/obfsproxy-instructions(.*) https://2019.www.torproject.org/docs/pluggable-transports [R=410,L]
RewriteRule ^projects/obfsproxy(.*) https://2019.www.torproject.org/docs/pluggable-transports [R=302,L]

#Relays
RewriteRule ^relay-guide(.*) https://trac.torproject.org/projects/tor/wiki/TorRelayGuide [R=301,L]

# GetInvolved
RewriteRule ^getinvolved/$ https://2019.www.torproject.org/getinvolved/volunteer [R=302,L]
RewriteRule ^volunteer(.*) https://2019.www.torproject.org/getinvolved/volunteer$1 [R=302,L]
RewriteRule ^tshirt(.*) https://2019.www.torproject.org/getinvolved/tshirt$1 [R=302,L]

RewriteRule ^research(.*) https://research.torproject.org/ [R=301,L]
RewriteRule ^getinvolved/research(.*) https://research.torproject.org/ [R=301,L]

# Support
RewriteRule ^support(.*) https://support.torproject.org [R=301,L]

# Newsletter
RewriteRule ^newsletter(.*) https://newsletter.torproject.org [R=301,L]

# other (feel free to categorize)
RewriteRule ^people(.*) /about/people$1 [R=301,L]
RewriteRule ^donate/$ https://donate.torproject.org [R=302,L]
RewriteRule ^about/contact(.*) /contact$1 [R=301,L]

# Download websites
RewriteRule ^download/download/$ /download [R=301,L]
RewriteRule ^download/download.html(.*) /download [R=301,L]
RewriteRule ^download/easy-download(.*) /download [R=301,L]

# Relays
RewriteRule ^relays(.*) https://2019.www.torproject.org/getinvolved/relays [R=301,L]

# Index Pages
RewriteRule ^about/$ /about/history [R=301,L]

# Donation campaign
# 2017
# Special-case the donate-options and amazon page so it doesn't get redirected
RewriteRule ^donate/donate-options(.*) https://2019.www.torproject.org/donate/donate-options$1 [END]
RewriteRule ^donate/donate-amazon(.*) https://2019.www.torproject.org/donate/donate-amazon$1 [END]
RewriteRule ^donate/donate(.*) https://donate.torproject.org [R=302,L]
RewriteRule ^donate/donor-faq(.*) https://donate.torproject.org/donor-faq [R=302,L]
RewriteRule ^donate/donor-privacy-policy(.*) https://donate.torproject.org/privacy-policy [R=302,L]
RewriteRule ^donate/thankyou(.*) https://donate.torproject.org/thank-you [R=302,L]
RewriteRule ^thankyou(.*) https://donate.torproject.org/thank-you [R=302,L]

# The following redirect is necessary because we're using that URL on
# some external resources (the donate infrastructure in particular) and
# getting it changed there is apparently hard or something.
RewriteRule ^donate-email(.*) https://donate.torproject.org/ [R=302,L]
