.fa-arrow-down-png {
  background-image: url('/static/fonts/fontawesome/png/white/solid/arrow-down.png');
  width: 1em;
  height: 1em;
  background-size: cover;
}

a:hover .fa-arrow-down-png {
  background-image: url('/static/fonts/fontawesome/png/dark/solid/arrow-down.png');
}

.fa-arrow-down-png-purple {
  background-image: url('/static/fonts/fontawesome/png/primary/solid/arrow-down.png');
  width: 1em;
  height: 1em;
  background-size: cover;
}

.fa-arrow-right-png {
  background-image: url('/static/fonts/fontawesome/png/primary/solid/arrow-right.png');
  width: 1em;
  height: 1em;
  background-size: cover;
}

a:hover .fa-arrow-right-png {
  background-image: url('/static/fonts/fontawesome/png/white/solid/arrow-right.png');
}

.fa-android-png {
  background-image: url('/static/fonts/fontawesome/png/white/brands/android.png');
  width: 1.0em;
  height: 1.0em;
  background-size: cover;
  margin: 22%;;
}

.fa-apple-png {
  background-image: url('/static/fonts/fontawesome/png/white/brands/apple.png');
  width: 1.0em;
  height: 1.0em;
  background-size: cover;
  margin: 22%;;
}


.fa-windows-png {
  background-image: url('/static/fonts/fontawesome/png/white/brands/windows.png');
  width: 1.0em;
  height: 1.0em;
  background-size: cover;
  margin: 22%;;
}


.fa-linux-png {
  background-image: url('/static/fonts/fontawesome/png/white/brands/linux.png');
  width: 1.0em;
  height: 1.0em;
  background-size: cover;
  margin: 22%;;
}

.fa-facebook-png {
  background-image: url('/static/fonts/fontawesome/png/white/brands/facebook.png');
  width: 1em;
  height: 1em;
  background-size: cover;
}

.fa-mastodon-png {
  background-image: url('/static/fonts/fontawesome/png/white/brands/mastodon.png');
  width: 1em;
  height: 1em;
  background-size: cover;
}

.fa-twitter-png {
  background-image: url('/static/fonts/fontawesome/png/white/brands/twitter.png');
  width: 1em;
  height: 1em;
  background-size: cover;
}

.fa-instagram-png {
  background-image: url('/static/fonts/fontawesome/png/white/brands/instagram.png');
  width: 1em;
  height: 1em;
  background-size: cover;
}

.fa-linkedin-png {
  background-image: url('/static/fonts/fontawesome/png/white/brands/linkedin.png');
  width: 1em;
  height: 1em;
  background-size: cover;
}

.fa-github-png {
  background-image: url('/static/fonts/fontawesome/png/white/brands/github.png');
  width: 1em;
  height: 1em;
  background-size: cover;
}

.fa-facebook-png-purple {
  background-image: url('/static/fonts/fontawesome/png/primary/brands/facebook.png');
  width: 1em;
  height: 1em;
  background-size: cover;
}

.fa-mastodon-png-purple {
  background-image: url('/static/fonts/fontawesome/png/primary/brands/mastodon.png');
  width: 1em;
  height: 1em;
  background-size: cover;
}

.fa-twitter-png-purple {
  background-image: url('/static/fonts/fontawesome/png/primary/brands/twitter.png');
  width: 1em;
  height: 1em;
  background-size: cover;
}

.fa-instagram-png-purple {
  background-image: url('/static/fonts/fontawesome/png/primary/brands/instagram.png');
  width: 1em;
  height: 1em;
  background-size: cover;
}

.fa-linkedin-png-purple {
  background-image: url('/static/fonts/fontawesome/png/primary/brands/linkedin.png');
  width: 1em;
  height: 1em;
  background-size: cover;
}

.fa-youtube-png-purple {
  background-image: url('/static/fonts/fontawesome/png/primary/brands/youtube.png');
  width: 1em;
  height: 1em;
  background-size: cover;
}

.fa-table-tennis-png {
  background-image: url('/static/fonts/fontawesome/png/primary/solid/table-tennis.png');
  width: 1em;
  height: 1em;
  background-size: cover;
}

.fa-comments-png {
  background-image: url('/static/fonts/fontawesome/png/primary/solid/comments.png');
  width: 1em;
  height: 1em;
  background-size: cover;
}

.fa-lock-png {
  background-image: url('/static/fonts/fontawesome/png/primary/solid/lock.png');
  width: 1em;
  height: 1em;
  background-size: cover;
}

.fa-flag-png {
  background-image: url('/static/fonts/fontawesome/png/primary/solid/flag.png');
  width: 1em;
  height: 1em;
  background-size: cover;
}

.fa-spider-png {
  background-image: url('/static/fonts/fontawesome/png/primary/solid/spider.png');
  width: 1em;
  height: 1em;
  background-size: cover;
}

.fa-file-alt-png {
  background-image: url('/static/fonts/fontawesome/png/primary/regular/file-alt.png');
  width: 1em;
  height: 1em;
  background-size: cover;
}

.fa-signature-png {
  background-image: url('/static/fonts/fontawesome/png/primary/solid/signature.png');
  width: 1em;
  height: 1em;
  background-size: cover;
}

.fa-key-png {
  background-image: url('/static/fonts/fontawesome/png/primary/solid/key.png');
  width: 1em;
  height: 1em;
  background-size: cover;
}

.fa-life-ring-png {
  background-image: url('/static/fonts/fontawesome/png/primary/solid/life-ring.png');
  width: 1em;
  height: 1em;
  background-size: cover;
}

.fa-folder-open-png {
  background-image: url('/static/fonts/fontawesome/png/primary/solid/folder-open.png');
  width: 1em;
  height: 1em;
  background-size: cover;
}

.fa-paper-plane-png {
  background-image: url('/static/fonts/fontawesome/png/primary/solid/paper-plane.png');
  width: 1em;
  height: 1em;
  background-size: cover;
}

.fa-hands-helping-png {
  background-image: url('/static/fonts/fontawesome/png/primary/solid/hands-helping.png');
  width: 1em;
  height: 1em;
  background-size: cover;
}

.fa-cube-png {
  background-image: url('/static/fonts/fontawesome/png/primary/solid/cube.png');
  width: 1em;
  height: 1em;
  background-size: cover;
}
