.illo-container {
  padding-top: 7%;
  padding-left: 3% !important;
  padding-right: 3% !important;
  text-align: center;
  img {
    width: 75%;
  }
}

.navbar-brand {
  img {
    max-width: 4em;
  }
}
