/* TPO Styles
*
*/

.page {
  padding-top: 7rem !important;
}

.section-nav {
  padding-top: 0 !important;
  border: 0 !important;
}
#sidenav-topics .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #7D4698;
    background-color: #fff;
    font-weight: bold;
}
.toc-entry a:hover {
  color: $purple !important;
}
.sidetopics {
  background: transparent;
  position: sticky;
  top: 114px;
  padding-top: inherit;
}
#topics {
  min-height: 500px;
  margin-bottom: 200px;
}
#topics h5{
  padding-top: 7rem;
}
.question {
  padding: 0.75rem 0;
}
.footer {
  position: relative;
  z-index:99999999999;
}
.footer a.nav-link {
  padding: 0.2rem;
}
footer .border{
  border: 0 !important;
  border-bottom: 1px solid rgba(255,255,255,0.3) !important;
}

footer {
  padding-top: 10em;
}

#wrapper {
  width: 100%;
  position: relative !important;
  bottom: 0;
}

 @include media-breakpoint-down(sm) {
   .display-4 {
     font-size: 2rem;
   }
   .toc-entry a {
       display: block;
       padding: 0.4rem 0 !important;
       font-size: 1.3rem;
   }
 }

 .defend {
  color: #FFFFFF;
  font-family: Source Sans Pro;
  font-size: 24px;
  font-weight: 400;
  line-height: 35px;
  opacity: 0.699999988079071;
  width: 822px;
  text-align: center;
 }

.btn-shadow {
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.20000000298023224);
  opacity: 0.699999988079071;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
 }

 .oval {
  background-color: #D8D8D8;
  border-radius: 100%;
  width: 390px;
  height: 390px;
}

 .oval-2 {
  background-color: #D8D8D8;
  border-radius: 100%;
  width: 190px;
  height: 190px;
}

.oval-right {
  float: right;
}

.hero > p{
  color: #484848;
  font-family: Source Sans Pro Light;
  font-size: 60px;
  line-height: 72px;
  text-align: left;
}

 @include media-breakpoint-up(md) {
 }

 @include media-breakpoint-up(lg) {

 }
