{% macro render_board(item, alternative) %}
  <div class="col-md-4 col-xl-3 my-4">
    <div class="card h-100 my-2">
      <div class="card-body">
        <h5 class="card-title human-name">{{ item.name }}</h5>
        <h6 class="card-subtitle mb-2 text-primary nick text-capitalize">{{ item.title }}</h6>
        <h6 class="card-subtitle mb-2 text-primary nick text-capitalize">{{ item.nickname }}{% if item.twitter_handle %} - <a href="https://twitter.com/{{ item.twitter_handle }}">@{{ item.twitter_handle }}</a>{% endif %}</h6>
        {{ item.description }}
      </div>
    </div>
  </div>
{% endmacro %}

{% macro render_core(item, alternative) %}
  <div class="col-md-3 col-xl-2 my-3">
    <div class="card h-100">
      <div class="card-header bg-white border-0">
      <!--img src="{{ item.picture }}" class="rounded float-left" alt="{{ item.nickname }}"/-->
        <img src="https://via.placeholder.com/100" class="rounded-circle float-left" alt="{{ item.nickname }}"/>
        <a class="float-right py-4 px-2" href="https://twitter.com/{{ item.twitter_handle }}"><i class="fab fa-twitter"></i></a>
        <a class="float-right py-4 px-2" href="#"><i class="fas fa-key"></i></a>
      </div>
      <div class="card-body">
      <h5 class="card-title human-name">{{ item.name }}</h5>
      <h6 class="nick text-primary m-0">PRO:{{ item.pronoun }}</h6>
      <label class="nick text-primary">IRC:{{ item.nickname }}</label>
      {{ item.description }}
    </div>
    </div>
  </div>
{% endmacro %}
