{% macro render_active(item, alternative) %}
<div class="col-md-4 col-xl-3 my-2">
<div class="card border-1 h-100">
  <img class="card-img-top" src="{{ item.logo|asseturl }}" alt="Card image cap">
  <div class="card-body">
    <h4><a href="{{ item.link }}">{{ item.name }}</a></h4>
    {{ item.description }}
  </div>
</div>
</div>
<!---
This strings are for the Spring donation campaign in 2025. we can remove them once we add them on the actual code, I am adding them here so they reach the translation platform before and we have time to translate them

{{ _('Privacy is possible') }}
{{ _('A better world is possible when you invest in tools that prioritize your privacy over profit. Donate to Tor today.') }}
{{ _('Opting out of Big Tech means investing in better alternatives. That's where Tor, Tor Browser, and Tails come in.') }}
{{ _('Help fuel the development of truly private tools.') }}
--->
{% endmacro %}
