{% include 'meta.html' %}
  <div class="page">
    {% include 'header.html' %}
    <div class="container-fluid">
      <div class="row flex-xl-nowrap">
        {% set locale = bag('alternatives', this.alt) %}
        <main role="main" class="mx-auto col-12 {{ locale.order }} {{ locale.direction }}">
          {% if this.path == "/about" %}
            {% set p1 = this.children.get('history') %}
            <div class="container py-3 mt-5 content">
              <div class="col-sm-9">
                {{ p1.body }}
              </div>
            </div>
          {% elif this.path == "/about/history" %}
            <div class="container py-3 mt-5 preamble">
              {{ this.parent.body }}
            </div>
          {% elif this.path ==  "/about/cy-pres" %}
            <div class="container py-3 mt-5 preamble">
              {{ this.parent.body }}
            </div>
          {% elif this.parent.path == "/about/jobs" %}
            <div class="container py-3 mt-5">
              {% if not this.active %}
              <div class="alert alert-warning" role="alert">
                This job is no longer active - <a href="/about/jobs">check out our currently active jobs</a>
              </div>
              {% endif %}
              {{ this.summary }}
            </div>
            <div class="container py-3">
              {{ this.description }}
            </div>
          {% else %}
            <div class="container py-3 mt-5 preamble">
              {{ this.body }}
            </div>
          {% endif %}
          {% if this.parent.path == "/about" %}
             {% include this.html %}
          {% endif %}
        </main>
      </div>
    </div>
  </div>
  <footer>
    {% include 'footer.html' %}
  </footer>
</body>
