<div class="container py-3">
  <div class="row border-bottom border-light"><p></p></div>
</div>
<div class="container py-3">
  <div class="row">
    <div class="col-5">
      <h3 class="text-primary display-5">Find us on Social Media</h3>
      <ul class="jobs-ul text-primary">
        <li class="py-3"><i class="fab fa-twitter display-5"></i><span class="pl-3">Twitter</span></li>
        <li class="py-3"><i class="fab fa-facebook-square display-5"></i><span class="pl-3">Facebook</span></li>
        <li class="py-3"><i class="fab fa-linkedin display-5"></i><span class="pl-3">Linkedin</span></li>
        <li class="py-3"><i class="fab fa-mastodon display-5"></i><span class="pl-3">Mastodon</span></li>
        <li class="py-3"><i class="fab fa-instagram display-5"></i><span class="pl-3">Instagram</span></li>
        <li class="py-3"><i class="fab fa-youtube display-5"></i><span class="pl-3">YouTube</span></li>
      </ul>
    </div>
    <div class="col-5">
      <h3 class="text-primary display-5">Chat with us on <u>OFTC IRC</u></h3>
      <p class="text-tpo"><span class="text-primary">#tor</span> - Ask questions about using Tor.</p>
      <p class="text-tpo"><span class="text-primary">#tor-dev</span> - Discuss Tor-related coding, protocols, and ideas are all welcome.</p>
      <p class="text-tpo"><span class="text-primary">#tor-project</span> - Discuss organization and community related topics: meetups, outreach, translation, or website improvements.</p>
      <p class="text-tpo"><span class="text-primary">#tor-meeting</span> - Watch or join publicly logged team meetings.</p>
      <p class="text-tpo"><span class="text-primary">#tor-relays</span> - Discuss running a Tor relay.</p>
      <p class="text-tpo"><span class="text-primary">#tor-south</span> - Talk with Tor’s global south community.</p>
    </div>
  </div>
</div>
<div class="container py-5 bg-dark">
  <div class="row bg-dark justify-content-center p-3">
    <h3 class="text-white display-5">Volunteer with Tor</h3>
  </div>
  <div class="row bg-dark justify-content-center p-3">
    <h4 class="text-white display-5"><a class="text-white" href=""><u>Get Involved</u></a></h4>
  </div>
</div>
<div class="container py-5 justify-content-center">
  <div class="row ml-5 mr-5">
    <h4 class="text-primary">Join an email list <small class="oi oi-arrow-right p-1" title="icon arrow-right" aria-hidden="true"></small></h4>
  </div>
  <div class="row ml-5 mr-5 preamble">
    <p>Our teams collaborate in open channels, including email lists, you are welcome to join. If you have a question for a specific team not answered on our support portal, you can ask the appropriate list. You're welcome to subscribe and just watch, too :)</p>
  </div>
</div>
<div class="container py-3">
  <div class="row border-bottom border-light"><p></p></div>
</div>
<div class="container py-3">
  <div class="row">
    <div class="col-5">
      <div class="row mt-3 mr-5">
        <p class="text-tpo text-primary">Report a bug or give feedback.</p>
        <p class="text-tpo">Tor relies on the support of users and volunteers around the world to help us improve our software and resources, so your feedback is extremely valuable to us (and to all Tor users).</p>
      </div>
      <div class="row mt-3 mr-5">
        <p class="text-tpo text-primary">Tell us about a bad relay.</p>
        <p class="text-tpo">If you find a relay that you think is malicious, misconfigured, or otherwise broken, please check out our wiki page and blog post on how to report it.</p>
      </div>
    </div>
    <div class="col-5">
      <div class="row mt-3 mr-5">
        <p class="text-tpo text-primary">Report a security issue.</p>
        <p class="text-tpo">If you've found a security issue in one of our projects or in our infrastructure, please email tor-security@lists.torproject.org. If you want to encrypt your mail, you can get the GPG public key for the list by contacting tor-security-sendkey@lists.torproject.org or from pool.sks-keyservers.net. Here is the fingerprint:</p>
      </div>
      <div class="row mt-3 mr-5">
        <p class="text-tpo text-primary">gpg --fingerprint tor-security@lists.torproject.org <br />
            pub   4096R/1A7BF184 2017-03-13 <br />
            Key fingerprint = 8B90 4624 C5A2 8654 E453  9BC2 E135 A8B4 1A7B F184 <br />
            uid   tor-security@lists.torproject.org <br />
            uid   tor-security@lists.torproject.org <br />
            uid   tor-security@lists.torproject.org <br />
            sub   4096R/C00942E4 2017-03-13</p>
      </div>
    </div>
    </div>
  </div>
</div>
<div class="container py-3">
  <div class="row border-bottom border-light"><p></p></div>
</div>
<div class="container py-3">
  <div class="row">
    <div class="col-8">
      <h3 class="text-primary display-5">Email us</h3>
        <p class="text-tpo">For questions and comments about Tor the non-profit organization: trademark questions, affiliation and coordination, contract inquiries, etc, please email <a href="">frontdesk@rt.torproject.org</a>.</p>

        <p class="text-tpo">For donor-related questions, contact <a href="">giving@torproject.org</a>.</p>
    </div>
    <div class="col-4">
      <h3 class="text-primary display-5">Send us Mail</h3>
      <p class="text-tpo">The Tor Project <br/>
 217 1st Ave South #4903</br>
 Seattle, WA 98194 USA</p>
    </div>
  </div>
</div>
