<div id="android" class="container-fluid bg-darker justify-content-center">
  <div class="row col-lg-10 mx-auto">
    <div class="col-lg-8 py-5 mt-5">
      <div class="row">
        <div class="oval-2 bg-dark mx-auto">
          <a href="{{ '/download/#android'|url(alt=this.alt) }}">
            <i class="fab fa-android text-light" alt="android" ></i>
          </a>
        </div>
      </div>
      <div class="row">
        <h4 class="mx-auto display-4 text-center text-white">{{ _('Get Tor Browser for Android.') }}</h4>
      </div>
      <div class="row">
        <h3 class="mx-auto defend text-white">{{ _('Protect yourself against tracking, surveillance, and censorship.') }}</h3>
      </div>
      <div class="row my-5">
          <a class="btn btn-lg btn-light text-primary py-3 px-4 my-1 mx-auto" href="">{{ _('Download .apk') }}</a>
          <a class="btn btn-lg btn-light text-primary py-3 px-4 my-1 mx-auto" href="">{{ _('Go to Google Play') }}</a>
          {% from "macros/downloads.html" import render_fdroid %}
          <a class="btn btn-lg btn-light text-primary py-3 px-4 my-1 mx-auto disabled" href="">{{ _('Go to F-droid %s')|format(render_fdroid())|safe }}</a>
      </div>
      <div class="row">
        <a class="text-light mx-auto nick" href="https://itunes.apple.com/us/app/onion-browser/id519296448?mt=8">{{ _('Are you a iOS user? We encourage you to try Onion Browser.') }} </a>
      </div>
    </div>
    <div class="d-none d-lg-block col-lg-4">
      <img class="img-fluid p-5" height="auto" src="{{ 'static/images/tor-browser-mobile-window/png/TBAa-onboarding@2x.png'|asseturl }}">
    </div>
  </div>
</div>
