<div class="container py-3">
  <div class="row">
    <div class="col-sm-6">
      <div class="col-md-8 order-1">
          <img src="{{ '/static/images/download/get-connected.svg'|asseturl }}" class="" alt="{{ _("Get Connected") }}" />
      </div>
      <h3 class="text-primary display-6">{{ _('Get connected') }}</h3>
      <div class="row pl-3 pr-5 text-tpo">
              <p class="text-tpo">{{ _('If you are in a country where Tor is blocked, you can <span class="text-primary text-bold">configure</span> Tor to connect to a bridge during the setup process. Select <span class="text-primary">"Tor is censored in my country."</span>')|safe }}</p>
      </div>
      <div class="row pl-3 pr-5 text-tpo">
              <p class="text-tpo">{{ _("If Tor is not censored, one of the most common reasons Tor won’t connect is an incorrect system clock. Please make sure it’s set correctly. Read other FAQ’s at our <a href=\"https://support.torproject.org\"><u>Support Portal</u></a>.")|safe }}</p>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-md-8 order-1">
          <img src="{{ '/static/images/download/stay-safe.svg'|asseturl }}" class="" alt="{{ _("Stay safe") }}" />
      </div>
      <h3 class="text-primary display-6">{{ _('Stay safe') }}</h3>
        <div class="row pl-3 pr-5 text-tpo">
          <p class="text-tpo">{{ _('Please do not torrent over Tor.') }} <br />
           {{ _('Tor Browser will block browser plugins such as Flash, RealPlayer, Quicktime, and others: they can be manipulated into revealing your IP address.') }}</p>
        </div>
        <div class="row pl-3 pr-5 text-tpo">
          <p class="text-tpo">{{ _('<b>We do not recommend installing additional add-ons or plugins</b> into Tor Browser, as these may bypass Tor or compromise your privacy. Tor Browser already comes with HTTPS Everywhere, NoScript, and other patches to protect your privacy and security.')|safe }}</p>
        </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row border-bottom border-light"><p></p></div>
</div>
<div class="container justify-content-center mt-4">
  <div class="row justify-content-center">
    <i class="far fa-file-alt display-5 text-primary pr-3"></i>
    {% from "macros/downloads.html" import render_tor_browser_manual %}
    <p class="text-primary text-tpo">{{ _('Check out the %s for more troubleshooting tips.')|format(render_tor_browser_manual())|safe  }}</p>
  </div>
</div>
<div class="container">
  <div class="row border-bottom border-light"><p></p></div>
</div>
<div class="container justify-content-center mt-4">
  <div class="row justify-content-center">
    <i class="fas fa-signature display-5 text-primary pr-3"></i><p class="text-primary text-tpo">{{ _('Verify Tor Browser signature <a class="mx-auto" href="https://support.torproject.org/how-to-verify-signature" target="_blank"><u>here</u></a>.')|safe }}</p>
  </div>
</div>
<div class="container">
  <div class="row border-bottom border-light"><p></p></div>
</div>
