<div class="container py-3">
  <div class="row">
    <div class="col-6">
      <div class="col-md-4 order-1">
        <div class="oval-2"></div>
      </div>
      <h3 class="text-primary display-6 pt-5">{{ _('Get connected') }}</h3>
      <div class="row pl-3 pr-5 text-tpo">
              <p class="text-tpo">{{ _('If you are in a country where Tor is blocked, you can <span class="text-primary text-bold">configure</span> Tor to connect to a bridge during the setup process. Select <span class="text-primary">"Tor is censored in my country."</span>')|safe }}</p>
      </div>
      <div class="row pl-3 pr-5 text-tpo">
              <p class="text-tpo">{{ _("If Tor is not censored, one of the most common reasons Tor won’t connect is an incorrect system clock. Please make sure it’s set correctly. Read other FAQ’s at our <a href=\"https://support.torproject.org\"><u>Support Portal</u></a>.")|safe }}</p>
      </div>
    </div>
    <div class="col-6">
      <div class="col-md-4 order-1">
        <div class="oval-2"></div>
      </div>
      <h3 class="text-primary display-6 pt-5">{{ _('Stay safe') }}</h3>
        <div class="row pl-3 pr-5 text-tpo">
          <p class="text-tpo">{{ _('Please do not torrent over Tor.') }} <br />
           {{ _('Tor Browser will block browser plugins such as Flash, RealPlayer, Quicktime, and others: they can be manipulated into revealing your IP address.') }}</p>
        </div>
        <div class="row pl-3 pr-5 text-tpo">
          <p class="text-tpo">{{ _('<b>We do not recommend installing additional add-ons or plugins</b> into Tor Browser, as these may bypass Tor or compromise your privacy. Tor Browser already comes with HTTPS Everywhere, NoScript, and other patches to protect your privacy and security.')|safe }}</p>
        </div>
    </div>
  </div>
</div>
<div class="container py-3">
  <div class="row border-bottom border-light"><p></p></div>
</div>
<div class="container py-3 justify-content-center">
  <div class="row p-3 justify-content-center">
    <i class="far fa-file-alt display-5 text-primary pr-3"></i><p class="text-primary text-tpo">Check out the <a class="mx-auto" href="https://manual.torproject.org"><u>manual</u></a> for more troubleshooting tips.</p>
  </div>
</div>
