<div class="container py-3 mt-5">
  <div class="row">
    <p>{{ this.body }}</p>
  </div>
</div>
<div class="container py-3">
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Version</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% set t = bag('versions', 'tor-stable') %}
        {% set a = bag('versions', 'tor-alpha') %}
        {% set download_link = 'https://dist.torproject.org/tor-' + t.version + '.tar.gz' %}
        {% set sig_link = download_link + '.asc' %}
        {% set alpha_download_link = 'https://dist.torproject.org/tor-' + a.version + '.tar.gz' %}
        {% set alpha_sig_link = alpha_download_link + '.asc' %}
        <tr>
          <td>{{ t.version }}</td>
          <td class="text-right"><a href="{{ download_link }}">Download</a> (<a href="{{ sig_link }}">sig</a>)</td>
        </tr>
        <tr>
          <td>{{ a.version }}</td>
          <td class="text-right"><a href="{{ alpha_download_link }}">Download</a> (<a href="{{ alpha_sig_link }}">sig</a>)</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
