<div class="container py-3 mt-5">
  <div class="row">
    <p>{{ _('Before we release a stable version of our software, we release an alpha version to test features and find bugs. Please only download an alpha if you are okay with some things not working properly, want to help us find and report bugs, and are not putting yourself at risk.') }}</p>
  </div>
</div>
<div class="container py-3">
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">{{ _('Language') }}</th>
          <th scope="col">Windows</th>
          <th scope="col">MacOS</th>
          <th scope="col">GNU/Linux</th>
        </tr>
      </thead>
      <tbody>
        {% set t = bag('versions', 'torbrowser-alpha') %}
        {% for id, item in bag('download-alternatives').items() %}
          <tr>
            <td>{{ item.language }}</td>
            <td>
              {% from "macros/downloads.html" import render_windows %}
              {{ render_windows(t.version, id) }}
            </td>
            <td>
              {% from "macros/downloads.html" import render_mac %}
              {{ render_mac(t.version, id) }}
            </td>
            <td>
              {% from "macros/downloads.html" import render_linux %}
              {{ render_linux(t.version, id) }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
