<div id="android" class="container-fluid bg-darker justify-content-center">
  <div class="row col-xl-10 col-md-12 mx-auto">
    <div class="col-lg-7 col-md-12 mt-5">
      <div class="row">
        <div class="oval-2 bg-dark mx-auto">
          <a href="{{ '/download/#android'|url(alt=this.alt) }}">
            <i class="text-light fab fa-android-png" alt="android" ></i>
          </a>
        </div>
      </div>
      <div class="row">
        <h1 class="mx-auto text-center text-white">{{ _('Get Tor Browser for Android.') }}</h1>
      </div>
      <div class="row">
        <h3 class="mx-auto text-center text-white">{{ _('Protect yourself against tracking, surveillance, and censorship.') }}</h3>
      </div>
      <div class="row my-5">
        <div class="col-xl-6 mx-auto">
          {% set t = bag('versions', 'torbrowser-android-stable') %}
          <a class="btn btn-lg btn-light text-primary py-1 px-2 my-2" href="https://dist.torproject.org/torbrowser/{{ t.version }}/tor-browser-{{ t.version }}-android-aarch64-multi.apk">{{ _('Download .apk') }}  <small class="badge-pill badge-dark mx-1 nick">aarch64</small></a>
          <a class="btn btn-primary btn-sm nick" href="https://dist.torproject.org/torbrowser/{{ t.version }}/tor-browser-{{ t.version }}-android-aarch64-multi.apk.asc"><small>{{ _('Sig') }}</small></a>

          <a class="btn btn-lg btn-light text-primary py-1 px-2 my-2" href="https://dist.torproject.org/torbrowser/{{ t.version }}/tor-browser-{{ t.version }}-android-armv7-multi.apk">{{ _('Download .apk') }}  <small class="badge-pill badge-dark mx-1 nick">arm</small></a>
          <a class="btn btn-primary btn-sm nick" href="https://dist.torproject.org/torbrowser/{{ t.version }}/tor-browser-{{ t.version }}-android-armv7-multi.apk.asc"><small>{{ _('Sig') }}</small></a>

          <a class="btn btn-lg btn-light text-primary py-1 px-2 my-2" href="https://dist.torproject.org/torbrowser/{{ t.version }}/tor-browser-{{ t.version }}-android-x86_64-multi.apk">{{ _('Download .apk') }}  <small class="badge-pill badge-dark mx-1 nick">x86_64</small></a>
          <a class="btn btn-primary btn-sm nick" href="https://dist.torproject.org/torbrowser/{{ t.version }}/tor-browser-{{ t.version }}-android-x86_64-multi.apk.asc"><small>{{ _('Sig') }}</small></a>

          <a class="btn btn-lg btn-light text-primary py-1 px-2 my-2" href="https://dist.torproject.org/torbrowser/{{ t.version }}/tor-browser-{{ t.version }}-android-x86-multi.apk">{{ _('Download .apk') }}  <small class="badge-pill badge-dark mx-1 nick">x86</small></a>
          <a class="btn btn-primary btn-sm nick" href="https://dist.torproject.org/torbrowser/{{ t.version }}/tor-browser-{{ t.version }}-android-x86-multi.apk.asc"><small>{{ _('Sig') }}</small></a>

          <a class="btn btn-block btn-lg btn-light text-primary my-2" href="https://play.google.com/store/apps/details?id=org.torproject.torbrowser">{{ _('Go to Google Play') }}</a>
          {% from "macros/downloads.html" import render_fdroid %}
          <a class="btn btn-block btn-lg btn-light text-primary my-2" href="https://support.torproject.org/tormobile/tormobile-7/">{{ _('Go to F-Droid') }}</a>
          <!--a class="btn btn-primary btn-sm nick mx-5 my-4" href="#"><small>sig</small></a-->
        </div>
      </div>
    </div>
    <div class="d-none d-lg-block col-lg-4 p-5">
      <img class="img-fluid w-75" height="auto" src="{{ 'static/images/tor-browser-mobile-window/png/TBA10.0.png'|asseturl }}" style="box-shadow: 0px 30px 100px rgba(0,0,0,0.5);">
    </div>
    <div class="row py-5 content-center col-12">
        <a class="text-light mx-auto text-center nick" href="https://onionbrowser.com" target="_blank"><i class="text-light fab fa-apple-png mr-3" alt="apple" ></i>{{ _('Are you an iOS user? We encourage you to try Onion Browser.') }} </a>
    </div>
  </div>
</div>
