<div class="container py-3">
  <div class="row">
    <div class="col-6">
      <div class="col-md-4 order-1">
        <div class="oval-2"></div>
      </div>
      <h3 class="text-primary display-6 pt-5">Get connected</h3>
      <div class="row pl-3 text-tpo">
        <p class="text-tpo">If you are in a country where Tor is blocked, you can <span class="text-primary text-bold">configure</span> Tor to connect to a bridge during the setup process. Select <span class="text-primary">"Tor is censored in my country."</span></p>
      </div>
      <div class="row pl-3 text-tpo">
        <p class="text-tpo">If Tor is not censored, one of the most common reasons Tor won’t connect is an incorrect system clock. Please make sure it’s set correctly. Read other FAQ’s at our <a href="https://support.torproject.org"><u>Support Portal</u></a>.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="col-md-4 order-1">
        <div class="oval-2"></div>
      </div>
      <h3 class="text-primary display-6 pt-5">Stay safe</h3>
        <div class="row pl-3 text-tpo">
          <p class="text-tpo">Please do not torrent over Tor. <br />
            Tor Browser will block browser plugins such as Flash, RealPlayer, Quicktime, and others: they can be manipulated into revealing your IP address.</p>
        </div>
        <div class="row pl-3 text-tpo">
          <p class="text-tpo"><span class="text-primary text-bold">We do not recommend installing additional add-ons or plugins</span> into Tor Browser, as these may bypass Tor or compromise your privacy. Tor Browser already comes with HTTPS Everywhere, NoScript, and other patches to protect your privacy and security.</p>
        </div>
    </div>
  </div>
</div>
<div class="container py-3">
  <div class="row border-bottom border-light"><p></p></div>
</div>
<div class="container py-3 justify-content-center">
  <div class="row p-5 justify-content-center">
    <i class="far fa-file-alt display-5 text-primary pr-3"></i><p class="text-primary text-tpo">Check out the <a class="mx-auto" href="https://manual.torproject.org"><u>manual</u></a> for more troubleshooting tips.</p>
  </div>
</div>
