<div class="container-fluid bg-darker justify-content-center">
  <div class="row col-lg-10 mx-auto">
    <div class="col-lg-8 py-5 mt-5">
      <div class="row">
        <div class="oval-2 bg-dark mx-auto" id="android">
          <a href="{{ '/download/#android'|url }}">
            <i class="fab fa-android text-light" alt="android" ></i>
          </a>
        </div>
      </div>
      <div class="row">
        <h4 class="mx-auto display-4 text-white">Get Tor Browser for Android.</h4>
      </div>
      <div class="row">
        <h1 class="mx-auto defend text-white">Protect yourself against tracking, surveillance, and censorship. </h1>
      </div>
      <div class="row my-5">
          <a class="btn btn-lg btn-light text-primary py-3 px-4 my-1 mx-auto" href="">Download .apk</a>
          <a class="btn btn-lg btn-light text-primary py-3 px-4 my-1 mx-auto" href="">Go to Google Play</a>
          <a class="btn btn-lg btn-light text-primary py-3 px-4 my-1 mx-auto disabled" href="">Go to F-droid <small class="badge-pill badge-dark mx-1 nick">S00N</small></a>
      </div>
      <div class="row">
        <p class="text-light mx-auto nick"><i class="fab fa-apple display-5 text-light pr-3"></i>Are you a iOS user? We encourage you to try <a class="mx-auto" href=""><u>Onion Browser.</u></a></p>
      </div>
    </div>
    <div class="d-none d-lg-block col-lg-4">
      <img class="img-fluid p-5" height="auto" src="{{ 'static/images/tor-browser-mobile-window/png/TBAa-onboarding@2x.png'|asseturl }}">
    </div>
  </div>
</div>
