<div class="container py-3">
  <div class="row">
    <p>We need two lines here about why we release alphas, how it works in the development cycle and also a link to repos or documentation.</p>
  </div>
</div>
<div class="container py-3">
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Language</th>
          <th scope="col">Windows</th>
          <th scope="col">MacOS</th>
          <th scope="col">GNU/Linux</th>
        </tr>
      </thead>
      <tbody>
        {% set t = bag('versions', 'torbrowser-alpha') %}
        {% for id, item in bag('alternatives').items() %}
          <tr>
            <td>{{ item.language }}</td>
            <td>
              {% from "macros/downloads.html" import render_windows %}
              {{ render_windows(t.version, id) }}
            </td>
            <td>
              {% from "macros/downloads.html" import render_mac %}
              {{ render_mac(t.version, id) }}
            </td>
            <td>
              {% from "macros/downloads.html" import render_linux %}
              {{ render_linux(t.version, id) }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
