<div class="container py-3 mt-5">
  <div class="row">
    <p>{{ this.body }}</p>
  </div>
</div>
<div class="container py-3">
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">OS</th>
          <th scope="col">Stable</th>
          <th scope="col">Unstable</th>
        </tr>
      </thead>
      <tbody>
        {% set t = bag('versions', 'tor-stable') %}
        {% set a = bag('versions', 'tor-alpha') %}
        {% set tw = bag('versions', 'tor-win32-stable') %}
        {% set aw = bag('versions', 'tor-win32-alpha') %}
        {% for id, item in bag('platforms').items() %}
          {% if id == 'windows' %}
            {% set download_link = 'https://dist.torproject.org/win32/tor-' + tw.version + '-win32.exe' %}
            {% set sig_link = download_link + '.asc' %}
            {% set alpha_download_link = 'https://dist.torproject.org/win32/tor-' + aw.version + '-win32.exe' %}
            {% set alpha_sig_link = alpha_download_link + '.asc' %}
          {% else %}
            {% set download_link = 'https://dist.torproject.org/tor-' + t.version + '.tar.gz' %}
            {% set sig_link = download_link + '.asc' %}
            {% set alpha_download_link = 'https://dist.torproject.org/tor-' + a.version + '.tar.gz' %}
            {% set alpha_sig_link = alpha_download_link + '.asc' %}
          {% endif %}
          <tr>
            <td>{{ item.label }}</td>
            <td><a href="{{ download_link }}">stable</a> (<a href="{{ sig_link }}">sig</a>)</td>
            <td><a href="{{ alpha_download_link }}">alpha</a> (<a href="{{ alpha_sig_link }}">sig</a>)</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
