<div class="row">
  <h1 class="mx-auto display-2 text-white">Defend yourself.</h1>
</div>
<div class="row">
  <h1 class="mx-auto defend text-white">Protect yourself against tracking, surveillance, and censorship. </h1>
</div>
<div class="row p-5 mx-auto justify-content-center">
  {% for id, item in bag('platforms+' + this.alt).items() %}
    <div class="col-3">
      <div class="oval-2 bg-darker justify-content-center">
        {% set distro = 'static/images/' + id + '-logo/png/Shape.png' %}
        <a href="{{ item.path|url }}">
          <img class="shape" src="{{ distro|asseturl }}">
        </a>
      </div>
    </div>
  {% endfor %}
</div>
<div class="row">
  <a class="mx-auto text-white p-5" href=""><u>Download in another language</u></a>
  <a class="mx-auto text-white p-5" href=""><u>Advanced Install Options</u></a>
</div>
<div class="row p-5 justify-content-center window-bg">
  <a class="mx-auto text-white p-5" href=""><u>Read the latest release announcements</u></a>
</div>
