<div class="container py-3">
  <h3 class="text-primary display-5">Current Openings</h3>
</div>
<div class="container py-3">
  <div class="accordion" id="accordionJobs">
    <div class="card border-0">
      <div class="card-header bg-white border-0" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link bg-white" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Sr. System Administrator
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionJobs">
        <div class="card-body">
          The Tor Project, Inc., a 501(c)(3) nonprofit organization advancing human rights and freedoms by creating and deploying free and open source anonymity and privacy technologies, is seeking a Senior Systems Administrator to maintain, upgrade and manage our organization’s software, hardware, and networks. The goal of the Tor Project’s sysadmin will be to ensure that our technology infrastructure runs securely, smoothly, and efficiently and that Tor Project employees, contractors, and volunteers have the knowledge and resources to do their work.
        </div>
      </div>
    </div>
    <div class="card border-0">
      <div class="card-header bg-white border-0" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link bg-white collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Grant Writer
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionJobs">
        <div class="card-body">
          The Tor Project, Inc., a 501(c)(3) nonprofit organization that provides technical infrastructure for privacy protection over the Internet, is seeking a strong grant writer to help us develop and write winning grant proposals designed to secure funding from public institutions, private foundations, corporations and other grant-making entities. The ideal candidate will be familiar with issues involving high-tech freedom and can make a compelling case about why our work is so important to current and potential funders. This person must be able to write clearly and provide context for the Tor Project’s complicated technology and activism projects. The ability to explain technical concepts to non-technical audiences is essential.
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container py-3">
  <h3 class="text-primary display-5">Previous Openings</h3>
</div>
<div class="container py-3">
  <div class="row">
    <div class="col-5">
      <ul class="jobs-ul">
        <li>Executive Director</li>
        <li>User Research Coordinator</li>
        <li>Community Liaison</li>
        <li>Core developer</li>
        <li>Support assistants and translators</li>
        <li>Browser hacker</li>
        <li>Pluggable transport developer</li>
      </ul>
    </div>
    <div class="col-5">
      <ul class="jobs-ul">
        <li>Firefox/Thunderbird Extension Developer</li>
        <li>Director of Communications</li>
        <li>Executive Administrator</li>
        <li>Browser Developers for Mobile (Android)</li>
        <li>Chief Financial and Grants Officer</li>
        <li>Android OS Developer</li>
        <li>Fundraising Director</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <p>Think you could help us in a position that’s not listed? We also rely on a vast community of volunteer contributors and many have become paid staff. <a href="">We invite you to join us on IRC to find how you can get involved.</a></p>
  </div>
</div>
