<div class="container py-3">
  <h3 class="text-primary display-5">{{ _('Current Openings') }}</h3>
</div>
<div class="container py-3">
  <div class="accordion" id="accordionJobs">
    {% from "macros/jobs.html" import render_active %}
    {% set items = this.children %}
    {% for item in items.filter(F.active == True) %}
      {{ render_active(item, this.alt) }}
    {% endfor %}
  </div>
</div>
<div class="container py-3">
  <h3 class="text-primary display-5">{{ _('Previous Openings') }}</h3>
</div>
<div class="container py-3">
  <div class="row">
    <div class="col-85">
      <ul class="jobs-ul">
        {% set items = this.children %}
        {% for item in items.filter(F.active == False) %}
          <li>{{ item.title }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="row">
    <p>{{ _("Think you could help us in a position that’s not listed? We also rely on a vast community of volunteer contributors and many have become paid staff.") }} <a href="">{{ _("We invite you to join us on IRC to find how you can get involved.") }}</a></p>
  </div>
</div>
