<div class="container py-3">
  <h3 class="text-primary display-5">Show your support for privacy online</h3>
  <p>When your organization joins the Tor Project’s Membership Program, you are demonstrating your commitment to privacy online and supporting Tor’s agility and development. In return, you become a closer part of our community with three specific benefits: access to our Onion Advisors group to help you integrate Tor into your product, inclusion in conversations and exclusive meetings with the Tor Project team to learn about what we are cooking at Tor, and public promotion of your membership.
  If you are interested in becoming a member, please reach out to us at <mark>giving@torproject.org.</mark></p>
</div>
<div class="container py-3">
    <h3 class="text-primary display-5">Membership Tiers</h3>
    <p>Membership tiers differ in their level of public promotion.  No matter the level of your contribution, members receive the same community benefits: access to our Onion Advisors group to help integrate Tor into your project and inclusion in conversations and exclusive meetings with the Tor Project team. At Tor, we love all of the onions, but shallots are the tastiest!</p>
</div>
<div class="container">
  <div class="row py-3">
      <div class="col">
        <img class="img-fluid p-3 align-self-center float-right" width="200px" src="{{ '../../static/images/membership/green.png' }}" />
      </div>
      <div class="col-sm-8">
          <a class="h2 col-12 text-primary p-0" href="#green">Green Onion Member</a>
          <p class="nick">$10,000 - $49,999 per year</p>
          <p>Your organization’s name, linking back to your website, is featured on our Membership Program page.</p>
      </div>
  </div>
  <div class="row py-3">
      <div class="col">
        <img class="img-fluid p-3 align-self-center float-right" width="200px" src="{{ '../../static/images/membership/vidalia.png' }}" />
      </div>
      <div class="col-sm-8">
          <a class="h2 col-12 text-primary p-0" href="#vidalia">Vidalia Onion Member</a>
          <p class="nick">$50,000 - $99,999 per year</p>
          <p>Your organization’s logo, linking back to your website, is featured on our Membership Program page. We will also engage in social media promotion.</p>
      </div>
  </div>
  <div class="row py-3">
      <div class="col">
        <img class="img-fluid p-3 align-self-center float-right" width="200px" src="{{ '../../static/images/membership/shallot.png' }}" />
      </div>
      <div class="col-sm-8">
          <a class="h2 col-12 text-primary p-0" href="#shallot">Shallot Onion Member</a>
          <p class="nick">≥ $100,000 per year year</p>
          <p>Your organization’s logo, linking back to your website, along with a quote from your organization about your motivation for joining the Membership Program, is featured on our Membership Program page. We will also engage in social media, events, and other promotional mechanisms.</p>
      </div>
  </div>
</div>
<div class="container" id="shallot">
  <div class="row py-5">
    <h3 class="col-12 text-primary display-4">Shallot Onion Members</h3>
    <div class="col-md-6 col-xl-6 my-2">
      <div class="card border-1 h-100">
        <img class="card-img-top" src="{{ '../../static/images/membership/logos/MullvadVPN.svg' }}" alt="MullvadVPN">
        <div class="card-body">
          <p><a href="#">Mullvad VPN</a></p>
          Mullvad is a VPN service that helps users keep their online activity, identity, and location private. With a fundamental belief in privacy as a universal right, Mullvad's ultimate goal is to make Internet censorship and mass surveillance ineffective.
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-6 my-2">
      <div class="card border-1 h-100">
        <img class="card-img-top" src="#" alt="Card image cap">
        <div class="card-body">
          <h4><a href="#">Shallot Onion Member</a></h4>
          Some description
        </div>
      </div>
    </div>
</div>
<div class="container" id="vidalia">
  <div class="row py-5">
    <h3 class="col-12 text-primary display-4">Vidalia Onion Members</h3>
    <div class="col-md-3 col-xl-3 my-2">
      <div class="card border-1 h-100">
        <img class="card-img-top p-5" src="{{ '../../static/images/membership/logos/avast.png' }}" alt="Avast">
      </div>
    </div>
    <div class="col-md-3 col-xl-3 my-2">
      <div class="card border-1 h-100">
        <img class="card-img-top" src="#" alt="Card image cap">
      </div>
    </div>
    <div class="col-md-3 col-xl-3 my-2">
      <div class="card border-1 h-100">
        <img class="card-img-top" src="#" alt="Card image cap">
      </div>
    </div>
    <div class="col-md-3 col-xl-3 my-2">
      <div class="card border-1 h-100">
        <img class="card-img-top" src="#" alt="Card image cap">
      </div>
    </div>
  </div>
</div>
<div class="container" id="green">
  <div class="row py-5">
    <h3 class="col-12 text-primary display-4">{{ _('Green Onion Members') }}</h3>
    <div class="col-md-6">
      <ul class="jobs-ul">
          <li><a href="#">Zcash Foundation</a></li>
          <li><a href="#">ProtonMail</a></li>
          <li><a href="#">Green Onion Members</a> - <span> Green Onion Member</span></li>
          <li><a href="#">Green Onion Members</a> - <span> Green Onion Member</span></li>
          <li><a href="#">Green Onion Members</a> - <span> Green Onion Member</span></li>
          <li><a href="#">Green Onion Members</a> - <span> Green Onion Member</span></li>
          <li><a href="#">Green Onion Members</a> - <span> Green Onion Member</span></li>
          <li><a href="#">Green Onion Members</a> - <span> Green Onion Member</span></li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul class="jobs-ul">
          <li><a href="#">Green Onion Members</a> - <span> Green Onion Member</span></li>
          <li><a href="#">Green Onion Members</a> - <span> Green Onion Member</span></li>
          <li><a href="#">Green Onion Members</a> - <span> Green Onion Member</span></li>
          <li><a href="#">Green Onion Members</a> - <span> Green Onion Member</span></li>
          <li><a href="#">Green Onion Members</a> - <span> Green Onion Member</span></li>
          <li><a href="#">Green Onion Members</a> - <span> Green Onion Member</span></li>
          <li><a href="#">Green Onion Members</a> - <span> Green Onion Member</span></li>
          <li><a href="#">Green Onion Members</a> - <span> Green Onion Member</span></li>
      </ul>
    </div>
  </div>
</div>
<div class="col-12 bg-membership" style="background-image: url('../../static/images/membership/header.png'); background-size:cover;">
<div class="row col-sm-8 py-5 text-center mx-auto"/>
  <h2 class="bg-white text-primary text-center p-4 mx-auto my-0">Become a Member</h2>
  <p class="bg-white text-center p-4">Join the Tor Project Membership Program and demonstrate your commitment to privacy online and become more deeply involved in the Tor community. Email us at <mark>giving@torproject.org.</mark> to get started.</p>
</div>
</div>
