<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" {% if bag('alternatives', this.alt, 'direction') == 'text-right' %}dir="rtl"{% endif %}>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ _('Defend yourself against tracking and surveillance. Circumvent censorship.') }}">
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@torproject" />
<meta name="twitter:creator" content="@torproject" />
<meta name="twitter:image" content="https://www.torproject.org/static/images/tor-project-logo-onions.png"/>
<meta property="og:url" content="https://torproject.org" />
<meta property="og:title" content="{{ _('The Tor Project | Privacy & Freedom Online') }}" />
<meta property="og:description" content="{{ _('Defend yourself against tracking and surveillance. Circumvent censorship.') }}" />
<meta property="og:image" content="https://www.torproject.org/static/images/tor-project-logo-onions.png" />
<link rel="stylesheet" href="{{ '/static/bootstrap.css'|asseturl }}">
<link rel="stylesheet" href="{{ '/static/fonts/open-iconic/font/css/open-iconic-bootstrap.css'|asseturl }}">
<link rel="stylesheet" href="{{ '/static/fonts/fontawesome/css/all.min.css'|asseturl }}" rel="stylesheet">
<title>{{ _("Tor Project") }} | {% block title %}{{ this.title }}{% endblock %}</title>
