<div class="row">

  <div class="container py-3 mt-5 content">
    <div class="col-sm-9">
      {% for item in this.children %}
        <a href="{{ item.path|url }}">{{ item.title }}</a>
      {% endfor %}
    </div>
    <div class="card mt-5">
      <ul class="list-group list-group-flush">
        <!--li class="list-group-item"><a><span class="card-text text-muted">{{ _("Contributors to this page:") }} <a href="#" title="#">cypherpunk</a></span></li-->
        <li class="list-group-item">
          <a href="{{ this.parent|url }}">{{ _("Back to previous page: ") }}{{ this.parent.title }}</a> - <a href="https://github.com/torproject/community/edit/master/content{{ this.path }}/contents.lr">{{ _("Edit this page") }}</a>
        </li>
      </ul>
    </div>
  </div>

</div>
