{% include 'meta.html' %}
  <div class="page pt-4">
    {% include 'header.html' %}
    <div class="container-fluid">
      <div class="row flex-xl-nowrap">
        {% set locale = bag('alternatives', this.alt) %}
        <main role="main" class="mx-auto col-12 {{ locale.order }} {{ locale.direction }}">


          <div class="container py-3 mt-5 content">

            <div class="col-sm-9">
              {% block body %}
                {{ this.body }}
              {% endblock %}
            </div>

            <div class="card mt-5">
              <ul class="list-group list-group-flush">
                <!--li class="list-group-item"><a><span class="card-text text-muted">{{ _("Contributors to this page:") }} <a href="#" title="#">cypherpunk</a></span></li-->
                <li class="list-group-item">
                  <a href="{{ this.parent|url }}">{{ _("Back to previous page: ") }}{{ this.parent.title }}</a> - <a href="https://github.com/torproject/community/edit/master/content{{ this.path }}/contents.lr">{{ _("Edit this page") }}</a>
                </li>
              </ul>
            </div>

          </div>


        </main>
      </div>
    </div>
  </div>
  {% if this.section == "Download" %}
    {% include 'footer-min.html' %}
  {% else %}
    {% include 'footer.html' %}
  {% endif %}
</body>
</html>
