<div class="container-fluid">
  <div class="row">
    {% from "macros/people.html" import render_core %}
    {% set items = site.query('/about/people').include_undiscoverable(true).filter(F.role == 'core') %}
    {% for item in items %}
      {{ render_core(item, this.alt) }}
    {% endfor %}
  </div>
</div>
<div class="container p-3 col-6">
  <div class="row justify-content-center">
    <h4 class="text-primary display-5">{{ _('Join Our Team') }}</h4>
    <p class="text-center">{{ _("Even if we aren't hiring, you can contribute to Tor. We are open to ideas and studies to improve Tor software. If you're a developer, we welcome you to sign up for our dev mailing list to see what we're up to.") }}</p>
    <a class="btn btn-lg btn-outline-primary mr-2" href="https://lists.torproject.org/cgi-bin/mailman/listinfo/tor-dev">
      {{ _("Sign up for tor-dev") }}<i class="ml-3 pt-2 fas fa-arrow-right-png"></i>
    </a>
  </div>
</div>
