<div class="container py-3">
  <h3 class="text-primary display-5">Board of Directors</h3>
</div>
<div class="container">
  <div class="row">
    {% from "macros/people.html" import render_board %}
    {% set items = this.children %}
    {% for item in items.filter(F.role == 'board') %}
      {{ render_board(item, this.alt) }}
    {% endfor %}
  </div>
</div>
<div class="container py-3">
  <h3 class="text-primary display-5">Core Tor</h3>
</div>
<div class="container">
  <div class="row">
    {% from "macros/people.html" import render_core %}
    {% set items = this.children %}
    {% for item in items.filter(F.role == 'core') %}
      {{ render_core(item, this.alt) }}
    {% endfor %}
  </div>
</div>
<div class="container p-3 col-6">
  <div class="row justify-content-center">
    <h4 class="text-primary display-5">Join Our Team</h4>
    <p class="text-center">Even if we aren’t hiring, you can contribute to Tor. We are open to ideas and studies to improve Tor software. If you’re a developer, we welcome you to sign up for our dev mailing list to see what we’re up to.</p>
    <div class="border-active">
      <a class="btn text-primary bg-white btn-lg btn-light pull-right mt-2 col-6" href="">
        {{ _("Sign up for tor-dev") }}<span class="oi oi-arrow-right p-1" title="icon arrow-right" aria-hidden="true"></span>
      </a>
    </div>
  </div>
</div>
