<div class="container py-5">
  <div class="row">
    <div class="col-6">
      <h3 class="text-primary display-5">Get support</h3>
      <div class="row pl-3 text-tpo">
        <p>Visit our support portal</p>
      </div>
      <div class="row pl-3 text-tpo">
        <p>Ask us on #tor</p>
      </div>
      <div class="row pl-3 text-tpo">
        <p>Write to a mailing pst</p>
      </div>
    </div>
    <div class="col-6">
      <h3 class="text-primary display-5">Brand Assets</h3>
        <div class="row pl-3 text-tpo">
          <p>The Tor Project</p>
        </div>
        <div class="row pl-3 text-tpo">
          <p>Tor Browser</p>
        </div>
        <div class="row pl-3 text-tpo">
          <p>Onion Services</p>
        </div>
    </div>
  </div>
</div>
<div class="container py-3">
  <div class="row p-3">
    <h3 class="text-primary display-5">Press Releases</h3>
  </div>
</div>
<div class="container col-10">
  <div class="row">
    <div class="card mx-auto" style="width: 365px; height: 485px;">
      <img class="card-img-top" src="{{ '/static/images/index.svg'|asseturl }}" alt="Card image cap">
      <div class="card-body">
        <p class="text-primary description description-small"><u>New Release: Tor Browser 8.0a10</u></p>
        <p class="card-text description description-small">Tor Browser 8.0a10 is now available from the Tor Browser Project page and also from our distribution directory. It is the second alpha release based on Firefox ESR 60 and contains a number of improvements and bug fixes.</p>
      </div>
    </div>
    <div class="card mx-auto" style="width: 365px; height: 485px;">
      <img class="card-img-top" src="{{ '/static/images/index.svg'|asseturl }}" alt="Card image cap">
      <div class="card-body">
        <p class="text-primary description description-small"><u>Help Us Translate Our New Support Portal</u></p>
        <p class="card-text description description-small">Over 2 million people around the world rely on Tor for private access to the open web everyday, and we want to make sure that Tor and our resources are localized for as many of our users as possible.</p>
      </div>
    </div>
    <div class="card mx-auto" style="width: 365px; height: 485px;">
      <img class="card-img-top" src="{{ '/static/images/index.svg'|asseturl }}" alt="Card image cap">
      <div class="card-body">
        <p class="text-primary description description-small"><u>New Release: Tor 0.3.4.7-rc</u></p>
        <p class="card-text description description-small">There's a new release candidate available for download. If you build Tor from source, you can download the source code for Tor 0.3.4.6-rc from the download page on the website.</p>
      </div>
    </div>
  </div>
</div>
<div class="container py-3">
  <div class="row p-3">
    <h3 class="text-primary display-5">Coverage</h3>
  </div>
</div>
<div class="container py-3">
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Pubblication</th>
      <th scope="col">Topic</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">2018 Feb 3</th>
      <td>Wired</td>
      <td><a href="">Tor could be the answer to safer connected sex</a></td>
    </tr>
    <tr>
      <th scope="row">2018 Jan 25</th>
      <td>International Business Times</td>
      <td><a href="">Tor Browser 7.5 Update Released: What's New?</a></td>
    </tr>
    <tr>
      <th scope="row">2018 Jan 24</th>
      <td>Tom's Hardware</td>
      <td><a href="">Tor Browser 7.5 Launches With Support For Next-Gen Onion Services</a></td>
    </tr>
  </tbody>
</table>
</div>
