<div class="container py-3">
  <div class="row border-bottom border-light"><p></p></div>
</div>
<div class="container py-5">
  <div class="row">
    <div class="col-6">
      <h4 class="text-secondary mb-4"><i class="fas fa-life-ring text-primary pr-2"></i> Get support</h4>
      <div class="row pl-3">
        <a class="h5 text-primary" href="https://support.torproject.org/" title="Tor Project Support Portal" target="_blank">Visit our Support Portal</a>
      </div>
      <div class="row pl-3 text-tpo">
        <a class="h5 text-primary" href="https://webchat.oftc.net/" title="Tor Project IRC" target="_blank">Ask us on #tor</a>
      </div>
      <div class="row pl-3 text-tpo">
        <a class="h5 text-primary" href="http://lists.torproject.org/" title="Tor Project Mailing List" target="_blank">Write to a mailing list</a>
      </div>
    </div>
    <div class="col-6">
      <h4 class="text-secondary mb-4"><i class="fas fa-folder-open text-primary pr-2"></i> Brand Assets</h4>
        <div class="row pl-3 text-tpo">
          <a class="h5 text-primary" href="https://styleguide.torproject.org/visuals/#assets" title="The Tor Project Brand Assets" target="_blank">The Tor Project</a>
        </div>
        <div class="row pl-3 text-tpo">
          <a class="h5 text-primary" href="https://styleguide.torproject.org/visuals/#assets" title="The Tor Browser Brand Assets" target="_blank">The Tor Browser</a>
        </div>
        <div class="row pl-3 text-tpo">
          <a class="h5 text-primary" href="https://styleguide.torproject.org/visuals/#assets" title="Onion Services" target="_blank">Onion Services</a>
        </div>
    </div>
  </div>
</div>
<div class="container py-3">
  <div class="row border-bottom border-light"><p></p></div>
</div>
<div class="container py-3">
  <div class="row p-3">
    <h3 class="text-primary display-5">Press Releases</h3>
  </div>
</div>
<div class="container col-10">
  <div class="row">
    <div class="card mx-auto" style="width: 365px; height: 485px;">
      <img class="card-img-top" src="{{ '/static/images/index.svg'|asseturl }}" alt="Card image cap">
      <div class="card-body">
        <div class="card-title">
          <a class="h4 text-primary" href="#" title="#">New Release: Tor Browser 8.0a10</a>
        </div>
        <p class="card-text description">Tor Browser 8.0a10 is now available from the Tor Browser Project page and also from our distribution directory. It is the second alpha release based on Firefox ESR 60 and contains a number of improvements and bug fixes.</p>
      </div>
    </div>
    <div class="card mx-auto" style="width: 365px; height: 485px;">
      <img class="card-img-top" src="{{ '/static/images/index.svg'|asseturl }}" alt="Card image cap">
      <div class="card-body">
        <div class="card-title">
          <a class="h4 text-primary" href="#" title="#">Help Us Translate Our New Support Portal</a>
        </div>
        <p class="card-text description">Over 2 million people around the world rely on Tor for private access to the open web everyday, and we want to make sure that Tor and our resources are localized for as many of our users as possible.</p>
      </div>
    </div>
    <div class="card mx-auto" style="width: 365px; height: 485px;">
      <img class="card-img-top" src="{{ '/static/images/index.svg'|asseturl }}" alt="Card image cap">
      <div class="card-body">
        <div class="card-title">
          <a class="h4 text-primary" href="#" title="#">New Release: Tor 0.3.4.7-rc</a>
        </div>
        <p class="card-text description">There's a new release candidate available for download. If you build Tor from source, you can download the source code for Tor 0.3.4.6-rc from the download page on the website.</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row p-3 pt-5">
    <h3 class="text-primary display-5">Coverage</h3>
  </div>
</div>
<div class="container">
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Publication</th>
      <th scope="col">Topic</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">2018 Feb 3</th>
      <td>Wired</td>
      <td><a class="h5 text-primary" href="">Tor could be the answer to safer connected sex</a></td>
    </tr>
    <tr>
      <th scope="row">2018 Jan 25</th>
      <td>International Business Times</td>
      <td><a class="h5 text-primary" href="">Tor Browser 7.5 Update Released: What's New?</a></td>
    </tr>
    <tr>
      <th scope="row">2018 Jan 24</th>
      <td>Tom's Hardware</td>
      <td><a class="h5 text-primary" href="">Tor Browser 7.5 Launches With Support For Next-Gen Onion Services</a></td>
    </tr>
  </tbody>
</table>
</div>
