<div class="container py-3">
  <div class="row border-bottom border-light"><p></p></div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 py-5">
        <h4 class="text-secondary mb-4"><i class="text-primary pr-2 fas fa-life-ring-png"></i> {{ _('Get support') }}</h4>
      <div class="row pl-3">
        <a class="h5 text-primary" href="https://support.torproject.org/" title="Tor Project Support Portal" target="_blank">{{ _('Visit our Support Portal') }}</a>
      </div>
      <div class="row pl-3 text-tpo">
        <a class="h5 text-primary" href="https://webchat.oftc.net/?channels=tor" title="Tor Project IRC" target="_blank">{{ _('Ask us on #tor') }}</a>
      </div>
      <div class="row pl-3 text-tpo">
        <a class="h5 text-primary" href="http://lists.torproject.org/" title="Tor Project Mailing List" target="_blank">{{ _('Write to a mailing list') }}</a>
      </div>
    </div>
    <div class="d-block d-sm-none container py-3">
      <div class="row border-bottom border-light"><p></p></div>
    </div>
    <div class="col-md-6 py-5">
      <h4 class="text-secondary mb-4"><i class="text-primary pr-2 fas fa-folder-open-png"></i> {{ _('Brand Assets') }}</h4>
        <div class="row pl-3 text-tpo">
          <a class="h5 text-primary" href="https://styleguide.torproject.org/visuals/#assets" title="The Tor Project Brand Assets" target="_blank">{{ _('The Tor Project') }}</a>
        </div>
        <div class="row pl-3 text-tpo">
          <a class="h5 text-primary" href="https://styleguide.torproject.org/visuals/#assets" title="The Tor Browser Brand Assets" target="_blank">{{ _('The Tor Browser') }}</a>
        </div>
        <div class="row pl-3 text-tpo">
          <a class="h5 text-primary" href="https://styleguide.torproject.org/visuals/#assets" title="Onion Services" target="_blank">{{ _('Onion Services') }}</a>
        </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row p-3 pt-5">
    <h3 class="text-primary display-5">{{ _('Coverage') }}</h3>
  </div>
</div>
<div class="container">
  <table class="table">
  <thead>
    <tr>
      <th scope="col">{{ _('Date') }}</th>
      <th scope="col">{{ _('Publication') }}</th>
      <th scope="col">{{ _('Topic') }}</th>
    </tr>
  </thead>
  <tbody>
    {% from "macros/pagination.html" import render_pagination %}
    {% from "macros/press.html" import render_snippet %}
    {{ render_pagination(this.pagination) }}
    {% for item in this.pagination.items %}
      {{ render_snippet(item, this.alt) }}
    {% endfor %}
  </tbody>
</table>
</div>
