<div class="container" style="background:url({{ '/static/images/privchat/pattern.png' }}) no-repeat center; background-size: contain;">
  <div class="w-50 text-center mx-auto">
    <img class="img-fluid p-3" height="auto" src="{{ '/static/images/privchat/privchat.svg' }}" /> <h1 class="display-2 text-primary">PrivChat</h1>
    <p class="text-primary p-3"> {{ _('a conversation about tech, human rights, <br/>and internet freedom brought to you by the Tor Project')|markdown }}</p>
  </div>
</div>

<div class="container pb-3 mt-5 preamble">
  <p>
    {{ _('PrivChat is a fundraising event series held to raise donations for the Tor Project. Through PrivChat, we will bring you important information related to what is happening in tech, human rights, and internet freedom by convening experts for a chat with our community.') }}
  </p>

  <hr class="mt-5"/>

</div>

<div class="container py-3 mt-5">
    <p class="h2 text-primary" target="_blank">{{ _('Chapter #4 - 25th Anniversary of Onion Routing') }}</p>
    <a class="btn btn-small bg-primary text-light my-4" href="https://www.youtube.com/watch?v=-wbivkG8TcU" target="_blank"><i class="mr-2 pt-1 fas fa-play-circle-png"></i> {{ _("Watch") }} </a>
    <div>
    <p class="font-family-serif">
      {{ _("Celebrate 25 years of onion routing with Tor!") }}
    </p>
    <p class="font-family-serif">
      {{ _("May 31, 2021 marks the 25th anniversary of the first public presentation of onion routing in Cambridge, UK at Isaac Newton Institute's first Information Hiding Workshop.") }}
    </p>
    <p class="font-family-serif">
      {{ _('You\'re invited to celebrate this special moment with us to talk about the beginnings of onion routing, and how this idea became Tor, and how the Tor Project eventually came to be. We\’ll be joined by **Paul Syverson**, one of the authors of the [first onion routing paper](https://www.onion-router.net/Publications.html#IH-1996), together with the Tor Project co-founders **Roger Dingledine** and **Nick Mathewson**.')|markdown }}
    </p>
    <p class="font-family-serif">
      {{ _('We\'ll reflect on the first days of the onion routing network at the U.S. Naval Research Lab (NRL). (Back then, onion router connections went through five nodes instead of Tor\'s current three-nodes design!) It\'s no secret that the concept of onion routing originated at NRL (it\'s on [our history page](../about/history/)), but there is so much more we want to share about how Tor started and where we\'ve come in the last 25 years.')|markdown }}
    </p>
    <p class="font-family-serif">
      {{ _("**Gabriella Coleman** – anthropologist, author, and Tor board member – will join us as our host and moderator. Join us for a celebratory edition of PrivChat to commemorate the 25th anniversary of onion routing.")|markdown }}
    </p>
    </div>
</div>

<div class="container pt-5 justify-content-center">

  <h4>{{ _('Host') }}</h4>

    <div class="row">
      <div class="container">
      <div class="card flex-row flex-wrap py-3">
        <div class="col-3">
            <img class="card-img-top" src="{{ '/static/images/privchat/biella.png' }}" alt="">
        </div>
        <div class="col">
          <div class="card-block px-2">
              <div class="pb-4">
                <h4 class="display-4 text-primary">Gabriella Coleman</h4>
                <strong class="display-5 text-primary mb-4">Professor @ McGill, Tor Board Member</strong>
              </div>
              <p class="text-tpo">
                Gabriella (Biella) Coleman holds the Wolfe Chair in Scientific and Technological Literacy <a href="http://www.mcgill.ca/ahcs/people-contacts/faculty/gabriella-coleman">at McGill University.</a> Trained as an anthropologist, her scholarship <a href="https://www.journals.uchicago.edu/doi/pdfplus/10.1086/688697">covers the politics, cultures, and ethics of hacking</a>. She is the author of two books on computer hackers and the founder and editor of <a href="https://hackcur.io/">Hack_Curio</a>, a video portal into the cultures of hacking (you can learn more about the project <a href="https://media.ccc.de/v/36c3-10875-hack_curio#t=24">here</a>). She is currently working on a book of essays about hackers and the state and will deliver material from the book for the 2020 Henry Morgan Lectures.</p>
<p  class="text-tpo">Her first book <a href="http://www.amazon.com/Coding-Freedom-Ethics-Aesthetics-Hacking/dp/0691144613/ref=sr_1_1?ie=UTF8&#038;qid=1419086140&#038;sr=8-1&#038;keywords=Coding+Freedom">Coding Freedom: The Ethics and Aesthetics of Hacking</a> was published in 2013 with Princeton University Press. She then published <a href="http://www.versobooks.com/books/1749-hacker-hoaxer-whistleblower-spy">Hacker, Hoaxer, Whistleblower, Spy: The Many Faces of Anonymous</a> (Verso, 2014), which was named to <a href="https://www.kirkusreviews.com/lists/best-current-affairs-books-2014/hacker-hoaxer-whistleblower-spy/">Kirkus Reviews Best Books of 2014</a> and was awarded the <a href="http://blog.castac.org/2015/10/2015-forsythe/">Diana Forsythe Prize by the American Anthropological Association</a>. </p>
<p  class="text-tpo">Committed to public ethnography, she routinely presents her work to <a href="https://www.youtube.com/watch?v=A8mtG4oMzLs">diverse audiences</a>, teaches undergraduate and graduate courses, and has written for popular media outlets, including the New York Times, Slate, Wired, MIT Technology Review, Huffington Post, and the Atlantic. She sits on the board of <a href="https://www.torproject.org/">The Tor Project</a>.</p>
<p class="text-tpo">CV, contact information, including PGP key, and high res photos can be found <a href="http://gabriellacoleman.org/info/">here</a>.
</p>
          </div>
        </div>
      </div>
      </div>
    </div>

  <h4 class="mt-5">{{ _('Participants') }}</h4>

  <div class="row">
    <div class="container">

    <div class="card flex-row flex-wrap py-3 mb-5">
      <div class="col-3">
          <img class="card-img-top" src="{{ '/static/images/privchat/roger.png' }}" alt="">
      </div>
      <div class="col">
        <div class="card-block px-2">
            <div class="pb-4">
              <h4 class="display-4 text-primary">Roger Dingledine</h4>
              <strong class="display-5 text-primary mb-4">President & Co-Founder, the Tor Project</strong>
            </div>
            <p class="text-tpo">Roger Dingledine is president and co-founder of the Tor Project, a nonprofit that develops free and open source software to protect people from tracking, censorship, and surveillance online. He works with journalists and activists on many continents to help them understand and defend against the threats they face. Roger was chosen by the MIT Technology Review as one of its top 35 innovators under 35, he co-authored the Tor design paper that won the Usenix Security "Test of Time" award, and he has been recognized by Foreign Policy magazine as one of its top 100 global thinkers.</p>
        </div>
      </div>
    </div>

    <div class="card flex-row flex-wrap py-3 mb-5">
      <div class="col-3">
          <img class="card-img-top" src="{{ '/static/images/privchat/nick.png' }}" alt="">
      </div>
      <div class="col">
        <div class="card-block px-2">
            <div class="pb-4">
              <h4 class="display-4 text-primary">Nick Mathewson</h4>
              <strong class="display-5 text-primary mb-4">Network Chief Architect & Co-Founder, the Tor Project</strong>
            </div>
            <p class="text-tpo">He is one of the original designers of Tor and is an expert in implementing anonymity technologies. He began volunteering to program Tor in 2002, became the principal developer in 2007, and became the lead software architect in 2012. Nick was instrumental in writing Tor's comprehensive protocol specifications, which have enabled researchers to base their work on a solid foundation and have enabled multiple independent implementations of the Tor protocols.</p>
        </div>
      </div>
    </div>

    <div class="card flex-row flex-wrap py-3 mb-5">
      <div class="col-3">
          <img class="card-img-top" src="{{ '/static/images/privchat/paul.png' }}" alt="">
      </div>
      <div class="col">
        <div class="card-block px-2">
            <div class="pb-4">
              <h4 class="display-4 text-primary">Paul Syverson</h4>
              <strong class="display-5 text-primary mb-4">Mathematician, U.S. Naval Research Laboratory</strong>
            </div>
            <p class="text-tpo">Inventor of onion routing, creator of Tor, author of one book and over one hundred refereed papers, chair of many security and privacy conferences, aspiring unicycle commuter -- holds multiple advanced degrees in philosophy and mathematics. Paul is a founder of the Privacy Enhancing Technologies Symposium and the ACM Workshop on Privacy in the Electronic Society. He is also an EFF Pioneer and an ACM Fellow. During his three decades as Mathematician at the U.S. Naval Research Laboratory he has also been a visiting scholar at institutions in the U.S. and Europe.</p>
        </div>
      </div>
    </div>

</div>


<div class="container">
  <div class="row bg-secondary p-5 mx-1 my-5">
    <h1><i class="fas fa-hand-holding-usd px-5 text-light"></i></h1>
    <h3 class="preamble text-light text-center mx-auto">{{ _('Your donations make this series and our work at Tor possible.') }}<br/> {{ _('The best way to support our work is to <a class="text-success" href="https://donate.torproject.org/monthly-giving" target="_blank">become a monthly donor.</a>') }}/h3>
  </div>
</div>

