<div class="container" style="background:url({{ '/static/images/privchat/pattern.png' }}) no-repeat center; background-size: contain;">
  <div class="w-50 text-center mx-auto">
    <img class="img-fluid p-3" height="auto" src="{{ '/static/images/privchat/privchat.svg' }}" /> <h1 class="display-2 text-primary">PrivChat</h1>
    <p class="text-primary p-3"> a conversation about tech, human rights, <br/>and internet freedom brought to you by the Tor Project</p>
  </div>
</div>

<div class="container pb-3 mt-5 preamble">
  <p>
    PrivChat is a fundraising event series held to raise donations for the Tor Project. Through PrivChat, we will bring you important information related to what is happening in tech, human rights, and internet freedom by convening experts for a chat with our community.
  </p>

  <hr class="mt-5"/>

</div>

<div class="container py-3 mt-5">
    <p class="h2 text-primary" target="_blank">Chapter #3 - Tor Advancing Human Rights</p>
    <a class="btn btn-small bg-primary text-light my-4" href="https://www.youtube.com/watch?v=S2N3GoewgC8" target="_blank"><i class="mr-2 pt-1 fas fa-play-circle-png"></i> {{ _("Watch") }} </a>
    <div>
    <p class="font-family-serif">
    The Tor Project's main mission is to advance human rights and freedoms by creating and deploying free and open source anonymity and privacy technologies. People use our technology, namely the Tor network and Tor Browser, in diverse ways. Tor is used by whistleblowers who need a safe way to bring to light information about wrongdoing -- information that is crucial for society to know -- without sharing their identity. Tor is used by activists around the world who are fighting against authoritarian governments and to defend human rights, not only for their safety and anonymity, but also to circumvent internet censorship so their voices can be heard. Tor allows millions of people to protect themselves online, no matter what privilege they have or don't have. For our third edition of PrivChat, we are bringing you some real-life Tor users who will share how Tor has been important for them and their work to defend human rights and freedoms around the world.
    </p>
    </div>
</div>

<div class="container pt-5 justify-content-center">

    <h4>Host</h4>

    <div class="row">
      <div class="container">
      <div class="card flex-row flex-wrap py-3">
        <div class="col-3">
            <img class="card-img-top" src="{{ '/static/images/privchat/ed.png' }}" alt="">
        </div>
        <div class="col">
          <div class="card-block px-2">
              <div class="pb-4">
                <h4 class="display-4 text-primary">Edward Snowden</h4>
                <strong class="display-5 text-primary mb-4">President, Freedom of the Press Foundation</strong>
              </div>
              <p class="text-tpo">
              Edward Snowden is a US citizen, former Intelligence Community officer and whistleblower. The documents he revealed provided a vital public window into the NSA and its international intelligence partners’ secret mass surveillance programs and capabilities. These revelations generated unprecedented attention around the world on privacy intrusions and digital security, leading to a global debate on the issue.
              </p>
          </div>
        </div>
      </div>
      </div>
    </div>

  <h4 class="mt-5">Participants</h4>

  <div class="row">
    <div class="container">

    <div class="card flex-row flex-wrap py-3 mb-5">
      <div class="col-3">
          <img class="card-img-top" src="{{ '/static/images/privchat/alison.png' }}" alt="">
      </div>
      <div class="col">
        <div class="card-block px-2">
            <div class="pb-4">
              <h4 class="display-4 text-primary">Alison Macrina</h4>
              <strong class="display-5 text-primary mb-4">Founder, Library Freedom Project</strong>
            </div>
            <p class="text-tpo">Alison Macrina is a librarian and the founder of Library Freedom Project, a community of practice for library workers living our values of intellectual freedom and privacy in the real world. Her work focuses on the ways that surveillance impacts library communities and the work of librarians, how surveillance relates to other social justice issues and intellectual freedom, and the power dynamics inside of our technologies. Alison and Library Freedom Project have been awarded the Free Software Foundation's Award for Project's of Social Benefit, Library Journal's Movers and Shakers Award, the New York Library Association's Intellectual Freedom Award, and the LITA/Library Hi Tech Award.
            </p>
        </div>
      </div>
    </div>


    <div class="card flex-row flex-wrap py-3 mb-5">
      <div class="col-3">
          <img class="card-img-top" src="{{ '/static/images/privchat/berhan.jpg' }}" alt="">
      </div>
      <div class="col">
        <div class="card-block px-2">
            <div class="pb-4">
              <h4 class="display-4 text-primary">Berhan Taye</h4>
              <strong class="display-5 text-primary mb-4">Africa Policy Manager and Global Internet Shutdowns Lead, Access Now</strong>
            </div>
            <p class="text-tpo">Berhan Taye (She/her) is a researcher who investigates the relationship between technology, society, and social justice. She is the Africa Policy Manager and Global Internet Shutdowns Lead at Access Now. She has led the #KeepItOn campaign, a global campaign to stop internet shutdowns with a coalition of more than 220 member organizations from across the world. Before joining Access Now, she was a researcher for the Technology for Social Justice Field Scan project that produced the MoreThanCode.cc report.
            </p>
        </div>
      </div>
    </div>


    <div class="card flex-row flex-wrap py-3 mb-5">
      <div class="col-3">
          <img class="card-img-top" src="{{ '/static/images/privchat/ramy.png' }}" alt="">
      </div>
      <div class="col">
        <div class="card-block px-2">
            <div class="pb-4">
              <h4 class="display-4 text-primary">Ramy Raoof</h4>
              <strong class="display-5 text-primary mb-4">Security Labs Technologist, Amnesty International</strong>
            </div>
            <p class="text-tpo">Ramy Raoof is a technologist and privacy researcher, his recent works focus on researching targeted digital attacks against human rights defenders and NGOs and developing digital security protocols and capacity building with activists in the Middle East and Central America around surveillance and censorship. Ramy is Tactical Technologist at Amnesty International's Security Lab and he also sits on Tor Project's Board of Directors. Prior to joining Amnesty, he served as Senior Technologist at the Egyptian Initiative for Personal Rights (EIPR). Ramy received the international award Heroes of Human Rights and Communications Surveillance from Access Now in 2017 and in May 2016 he received the international Bobs Award - Best of Online Activism in recognition for his work in digital security and privacy from Deutsche Welle. On Twitter https://twitter.com/RamyRaoof.
            </p>
        </div>
      </div>
    </div>


</div>

<div class="container">
  <div class="row bg-secondary p-5 mx-1 my-5">
    <h1><i class="fas fa-hand-holding-usd px-5 text-light"></i></h1>
    <h3 class="preamble text-light text-center mx-auto">Your donations make this series and our work at Tor possible. <br/> The best way to support our work is to <a class="text-success" href="https://donate.torproject.org/monthly-giving" target="_blank">become a monthly donor.</a></h3>
  </div>
</div>

