<div class="container py-5">
  <div class="row border-bottom border-light"><p></p></div>
</div>
</div><div class="container py-3">
  <h3 class="text-primary display-5">Previous Openings</h3>
</div>
<div class="container py-3">
  <div class="row">
    <div class="col-5">
      <ul class="jobs-ul">
        <li>Executive Director</li>
        <li>User Research Coordinator</li>
        <li>Community Liaison</li>
        <li>Core developer</li>
        <li>Support assistants and translators</li>
        <li>Browser hacker</li>
        <li>Pluggable transport developer</li>
      </ul>
    </div>
    <div class="col-5">
      <ul class="jobs-ul">
        <li>Firefox/Thunderbird Extension Developer</li>
        <li>Director of Communications</li>
        <li>Executive Administrator</li>
        <li>Browser Developers for Mobile (Android)</li>
        <li>Chief Financial and Grants Officer</li>
        <li>Android OS Developer</li>
        <li>Fundraising Director</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <p>Think you could help us in a position that’s not listed? We also rely on a vast community of volunteer contributors and many have become paid staff. <a href="">We invite you to join us on IRC to find how you can get involved.</a></p>
  </div>
</div>
