<div class="container py-3">
  <h3 class="text-primary display-5">Founding Documents</h3>
</div>
<div class="container py-3">
  <table class="table">
  <tbody>
    {% from "macros/reports.html" import render_document %}
    {% set items = this.children %}
    {% for item in items.filter(F.type == "document") %}
      {{ render_document(item, this.alt) }}
    {% endfor %}
  </tbody>
</table>
</div>
<div class="container py-3">
  <h3 class="text-primary display-5">Reports</h3>
</div>
<div class="container py-3">
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Year</th>
      <th scope="col">Type</th>
      <th scope="col">Title</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% from "macros/reports.html" import render_report %}
    {% set items = this.children %}
    {% for item in items.filter(F.type == "report") %}
      {{ render_report(item, this.alt) }}
    {% endfor %}
  </tbody>
</table>
</div>
