<div class="container py-3">
  <h3 class="text-primary display-5">Founding Documents</h3>
</div>
<div class="container py-3">
  <table class="table">
  <tbody>
    <tr>
      <td>Tor Certificate of Legal Existence</td>
      <td>Certificate of Legal Existence for Tor Project, Inc.</td>
      <td><a href="">View PDF</a></td>
    </tr>
    <tr>
      <td>Tor Articles of Organization</td>
      <td>Articles of Organization for Tor Project, Inc.</td>
      <td><a href="">View PDF</a></td>
    </tr>
    <tr>
      <td>Tor Articles of Organization as filed</td>
      <td>Articles of Organization as they were filed by the Commonwealth of Massachusetts, including continuation pages.</td>
      <td>View PDF</td>
    </tr>
    <tr>
      <td>Tor Conflict of Interest Policy</td>
      <td>Policy protecting the organization's interest from officers and directors entering arrangements that might benefit their private interests.</td>
      <td><a href="">View PDF</a></td>
    </tr>
    <tr>
      <td>Tor Conflict of Interest Policy</td>
      <td>Policy protecting the organization's interest from officers and directors entering arrangements that might benefit their private interests.</td>
      <td><a href="">View PDF</a></td>
    </tr>
    <tr>
      <td>Form 1023, Exhibit A.</td>
      <td>Form 1023, Exhibit A.</td>
      <td><a href="">View PDF</a></td>
    </tr>
    <tr>
      <td>Doc Name</td>
      <td>Description.</td>
      <td><a href="">View PDF</a></td>
    </tr>
  </tbody>
</table>
</div>
<div class="container py-3">
  <h3 class="text-primary display-5">Reports</h3>
</div>
<div class="container py-3">
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Year</th>
      <th scope="col">Type</th>
      <th scope="col">Title</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">2015</th>
      <td><span class="badge-pill badge-primary">IRS 990</span></td>
      <td>IRS Form 990</td>
      <td><a href="">View PDF</a></td>
    </tr>
    <tr>
      <th scope="row">2015</th>
      <td><span class="badge-pill badge-success">AUDIT</span></td>
      <td>Independent Audit Results</td>
      <td><a href="">View PDF</a></td>
    </tr>
    <tr>
      <th scope="row">2015</th>
      <td><span class="badge-pill badge-secondary">BOARD MEETING</span></td>
      <td>Tor Board Meeting Minutes - June</td>
      <td><a href="">View PDF</a></td>
    </tr>
  </tbody>
</table>
</div>
