<div class="container">
<p>{{ _('Thank you to all the people and groups who have made Tor possible so far, and thank you especially to the individual volunteers who have made non-financial contributions: coding, testing, documenting, translating, educating, researching, and running the relays that make up the Tor network.') }}</p>
</div>
<div class="container py-3">
<h3 class="text-primary display-5">{{ _('Active Sponsors') }}</h3>
</div>
<div class="fluid-container">
  <div class="row">
    {% from "macros/sponsors.html" import render_active %}
    {% set items = site.query('/about/sponsors').include_undiscoverable(true).filter(F.active == True) %}
    {% for item in items %}
      {{ render_active(item, this.alt) }}
    {% endfor %}
  </div>
</div>
<div class="container py-3">
<h3 class="text-primary display-5">{{ _('Past Sponsors') }}</h3>
</div>
<div class="container">
<div class="row">
  <div class="col-12">
    <ul class="jobs-ul">
      {% set items = site.query('/about/sponsors').include_undiscoverable(true).filter(F.active == False) %}
      {% for item in items.order_by('-time') %}
        <li><a href="{{ item.link}}">{{ item.name }}</a> - <span> {{ item.time }}</span></li>
      {% endfor %}
    </ul>
  </div>
</div>
</div>
<div class="container">
  <div class="container">
    <div class="row border-bottom border-light"><p></p></div>
    <div class="row py-5">
        <p>{{ _('This sponsors page is based upon un-audited and un-reviewed financial and in-kind donations, contract, and other data.') }}</p>
        <p><a href="{{ '/about/reports'|url(alt=this.alt) }}" title="Reports"><u>{{ _('Further details about our audited and reviewed funding can be found with our Financial Reports.') }}</u></a><p>
    </div>
  </div>
</div>
