<div class="container py-3">
  <h3 class="text-primary display-5">Past Sponsors</h3>
</div>
<div class="container col-10">
  <div class="row">
    <div class="card m-3" style="width: 255px; height: 329px;">
      <img class="card-img-top" src="{{ '/static/images/index.svg'|asseturl }}" alt="Card image cap">
      <div class="card-body">
        <p class="text-primary description description-small"><u>Sponsor Name</u></p>
        <p class="card-text description description-small">Some quick paragraph about the projects we are working with this sponsor and a link to the trac.</p>
      </div>
    </div>
    <div class="card m-3" style="width: 255px; height: 329px;">
      <img class="card-img-top" src="{{ '/static/images/index.svg'|asseturl }}" alt="Card image cap">
      <div class="card-body">
        <p class="text-primary description description-small"><u>Sponsor Name</u></p>
        <p class="card-text description description-small">Some quick paragraph about the projects we are working with this sponsor and a link to the trac.</p>
      </div>
    </div>
    <div class="card m-3" style="width: 255px; height: 329px;">
      <img class="card-img-top" src="{{ '/static/images/index.svg'|asseturl }}" alt="Card image cap">
      <div class="card-body">
        <p class="text-primary description description-small"><u>Sponsor Name</u></p>
        <p class="card-text description description-small">Some quick paragraph about the projects we are working with this sponsor and a link to the trac.</p>
      </div>
    </div>
    <div class="card m-3" style="width: 255px; height: 329px;">
      <img class="card-img-top" src="{{ '/static/images/index.svg'|asseturl }}" alt="Card image cap">
      <div class="card-body">
        <p class="text-primary description description-small"><u>Sponsor Name</u></p>
        <p class="card-text description description-small">Some quick paragraph about the projects we are working with this sponsor and a link to the trac.</p>
      </div>
    </div>
    <div class="card m-3" style="width: 255px; height: 329px;">
      <img class="card-img-top" src="{{ '/static/images/index.svg'|asseturl }}" alt="Card image cap">
      <div class="card-body">
        <p class="text-primary description description-small"><u>Sponsor Name</u></p>
        <p class="card-text description description-small">Some quick paragraph about the projects we are working with this sponsor and a link to the trac.</p>
      </div>
    </div>
    <div class="card m-3" style="width: 255px; height: 329px;">
      <img class="card-img-top" src="{{ '/static/images/index.svg'|asseturl }}" alt="Card image cap">
      <div class="card-body">
        <p class="text-primary description description-small"><u>Sponsor Name</u></p>
        <p class="card-text description description-small">Some quick paragraph about the projects we are working with this sponsor and a link to the trac.</p>
      </div>
    </div>
    <div class="card m-3" style="width: 255px; height: 329px;">
      <img class="card-img-top" src="{{ '/static/images/index.svg'|asseturl }}" alt="Card image cap">
      <div class="card-body">
        <p class="text-primary description description-small"><u>Sponsor Name</u></p>
        <p class="card-text description description-small">Some quick paragraph about the projects we are working with this sponsor and a link to the trac.</p>
      </div>
    </div>
    <div class="card m-3" style="width: 255px; height: 329px;">
      <img class="card-img-top" src="{{ '/static/images/index.svg'|asseturl }}" alt="Card image cap">
      <div class="card-body">
        <p class="text-primary description description-small"><u>Sponsor Name</u></p>
        <p class="card-text description description-small">Some quick paragraph about the projects we are working with this sponsor and a link to the trac.</p>
      </div>
    </div>
  </div>
</div>
<div class="container py-3">
  <h3 class="text-primary display-5">Active Sponsors</h3>
</div>
<div class="container col-10">
  <div class="row">
    <div class="card m-3" style="width: 255px; height: 329px;">
      <img class="card-img-top" src="{{ '/static/images/index.svg'|asseturl }}" alt="Card image cap">
      <div class="card-body">
        <p class="text-primary description description-small"><u>Sponsor Name</u></p>
        <p class="card-text description description-small">Some quick paragraph about the projects we are working with this sponsor and a link to the trac.</p>
      </div>
    </div>
    <div class="card m-3" style="width: 255px; height: 329px;">
      <img class="card-img-top" src="{{ '/static/images/index.svg'|asseturl }}" alt="Card image cap">
      <div class="card-body">
        <p class="text-primary description description-small"><u>Sponsor Name</u></p>
        <p class="card-text description description-small">Some quick paragraph about the projects we are working with this sponsor and a link to the trac.</p>
      </div>
    </div>
    <div class="card m-3" style="width: 255px; height: 329px;">
      <img class="card-img-top" src="{{ '/static/images/index.svg'|asseturl }}" alt="Card image cap">
      <div class="card-body">
        <p class="text-primary description description-small"><u>Sponsor Name</u></p>
        <p class="card-text description description-small">Some quick paragraph about the projects we are working with this sponsor and a link to the trac.</p>
      </div>
    </div>
    <div class="card m-3" style="width: 255px; height: 329px;">
      <img class="card-img-top" src="{{ '/static/images/index.svg'|asseturl }}" alt="Card image cap">
      <div class="card-body">
        <p class="text-primary description description-small"><u>Sponsor Name</u></p>
        <p class="card-text description description-small">Some quick paragraph about the projects we are working with this sponsor and a link to the trac.</p>
      </div>
    </div>
    <div class="card m-3" style="width: 255px; height: 329px;">
      <img class="card-img-top" src="{{ '/static/images/index.svg'|asseturl }}" alt="Card image cap">
      <div class="card-body">
        <p class="text-primary description description-small"><u>Sponsor Name</u></p>
        <p class="card-text description description-small">Some quick paragraph about the projects we are working with this sponsor and a link to the trac.</p>
      </div>
    </div>
    <div class="card m-3" style="width: 255px; height: 329px;">
      <img class="card-img-top" src="{{ '/static/images/index.svg'|asseturl }}" alt="Card image cap">
      <div class="card-body">
        <p class="text-primary description description-small"><u>Sponsor Name</u></p>
        <p class="card-text description description-small">Some quick paragraph about the projects we are working with this sponsor and a link to the trac.</p>
      </div>
    </div>
    <div class="card m-3" style="width: 255px; height: 329px;">
      <img class="card-img-top" src="{{ '/static/images/index.svg'|asseturl }}" alt="Card image cap">
      <div class="card-body">
        <p class="text-primary description description-small"><u>Sponsor Name</u></p>
        <p class="card-text description description-small">Some quick paragraph about the projects we are working with this sponsor and a link to the trac.</p>
      </div>
    </div>
    <div class="card m-3" style="width: 255px; height: 329px;">
      <img class="card-img-top" src="{{ '/static/images/index.svg'|asseturl }}" alt="Card image cap">
      <div class="card-body">
        <p class="text-primary description description-small"><u>Sponsor Name</u></p>
        <p class="card-text description description-small">Some quick paragraph about the projects we are working with this sponsor and a link to the trac.</p>
      </div>
    </div>
  </div>
</div>
