<div class="container">
  <div class="row border-bottom border-light">
    <div class="alert content bg-warning p-3 mb-5 mx-auto">
      {{ _('We need your help to keep Tor secure and safe for millions across the globe.') }}
        <a href="/donate">{{ _('Donate Now!') }}</a>
  </div>
</div>
<div class="container py-3">
  <div class="row p-3">
    <h3 class="text-primary">{{ _('Want to join our community? Getting involved with Tor is easy.') }}</h3>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <i class="h3 py-3 fas fa-paper-plane-png"></i>
      <h4><a href="https://newsletter.torproject.org">{{ _('Sign up for Tor News and get updates and opportunities from across the organization and community.') }}</a></h4>
    </div>
    <div class="col-md-4">
      <i class="h3 py-3 fas fa-cube-png"></i>
      <h4><a href="https://community.torproject.org/relay">{{ _('Run a relay to make the network faster and more decentralized.') }}</a></h4>
    </div>
    <div class="col-md-4">
      <i class="h3 py-3 fas fa-hands-helping-png"></i>
      <h4><a href="https://community.torproject.org/">{{ _('Use your skills to volunteer.') }}</a></h4>
    </div>
  </div>
</div>
