<div class="container py-3">
  <div class="row border-bottom border-light"><p></p></div>
</div>
<div class="container py-3">
  <div class="row p-3">
    <h3 class="text-primary">{{ _('Want to join our community? Getting involved with Tor is easy.') }}</h3>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <i class="fas fa-paper-plane text-primary pr-2"></i>
      <h4>{{ _('Sign up for Tor News and get updates and opportunities from across the organization and community.') }}</h4>
    </div>
    <div class="col-md-4">
      <i class="fas fa-chart-network text-primary pr-2"></i>
      <h4>{{ _('Run a relay to make the network faster and more decentralized.') }}</h4>
    </div>
    <div class="col-md-4">
      <i class="fas fa-hands-helping text-primary pr-2"></i>
      <h4>{{ _('Use your skills to volunteer.') }}</h4>
    </div>
  </div>
</div>
